[2015-07-28 08:57] psjinx opened #3 "Proposal: Moving from Django to Pyramid - Lessons Learned"
**Topic:  Moving from Django to Pyramid - Lessons Learned**
**Date: August 8, 2015**
**Pre-requisite:**  Good familiarity with any web framework written in Python.
**My Background** - I've used [Django](https://docs.djangoproject.com/) for almost 4 years (`v1.2` to `v1.6`). In July, 2014 I switched to [Pyramid](http://docs.pylonsproject.org/projects/pyramid/en/latest/) for all the new web apps.
**

[2015-07-30 07:27] psjinx commented on #3
Presentation (still work in progress) - https://docs.google.com/presentation/d/1RgJzsiv5PJVmAM_57X6nSCx9Ga1GpP9Y13Rn8GiK_7s/edit?pli=1

[2015-07-30 08:00] toanant commented on #3
:+1:

[2015-07-30 16:39] bhanuvrat commented on #3
+1

[2015-07-30 16:40] akshayaurora commented on #3
:+1:

[2015-08-01 05:30] theskumar commented on #3
:+1:

[2015-08-04 09:09] amitt001 opened #4 "Proposal: Getting started with Kivy"
**Topic: Getting started with Kivy**
**Date:**
**Description:** Kivy - Open source Python library for rapid development of applications
that make use of innovative user interfaces, such as multi-touch apps. Its Cross platform, Business Friendly and GPU Accelerated. [Kivy](http://kivy.org/)

---

- [ ] Date Confirmation.
- [ ] Presentation Review.

[2015-08-04 09:49] CuriousLearner commented on #3
:+1:

[2015-08-08 01:27] theskumar commented on #4
@amitt001 Please add a link to slides asap, it is one of the pre-criteria for a talk to get selects. Also it will increase the likelihood to getting more upvotes. ;-)

Add link to presentation/article in the description and also let everyone know, when you have done so by writing a comment.

[2015-08-08 01:33] theskumar commented on #3
Finalised for 8th August. This issue should be closed after talk info get added to `README.md`

@psjinx it would wonderful, if you can send a pull-request this repo, adding the relevant relevant details to `REAMDE.md` for all our future audiences. Thanks.

[2015-08-08 04:27] akshayaurora commented on #4
https://docs.google.com/presentation/d/1zoyqnnDqpXRPmZ1pLYu05cWMg-l9qt2657uGFozZWig

I will be holding the workshop, it is the same presentation I held on pylon last year https://in.pycon.org/funnel/2014/220-mobile-application-development-with-python-kivy/

[2015-08-16 06:58] theskumar commented on #4
As discussed with @akshayaurora this proposal is for workshop and not for a 30mins talk. Let's move this to: https://github.com/pydelhi/workshops/issues

I'm closing this issue here.

[2015-08-16 06:58] #4 closed

[2015-08-19 12:42] dusual opened #5 "Proposal: Start Mocking, Start Testing"
A talk on mock. And how you can use it to improve your test coverage. And create a nice framework for creating tests around your app.

Here's a preview
https://www.overleaf.com/read/kwxjyyvywgfz

---

- [x] slides
- [x] date finalization

[2015-08-22 06:40] theskumar commented on #3
Video processed and uploaded at https://www.youtube.com/watch?v=a2Llc1EGGA4

closing this now.

[2015-08-22 06:40] #3 closed

[2015-08-24 18:40] akshayaurora opened #6 "Open Daylight"
Invite Sridhar from [OpenDaylight][1] to talk about the python app he did for managing . Details will be added soon.

Update:
The people from open daylight would be coming for the  19th meet. Not for the 5th.
Mail sent for getting details, will updated when we get a response.

[1]:https://www.opendaylight.org

[2015-08-25 05:42] theskumar commented on #5
@dusual we have moved this talk to sept 5, please confirm if you'll be available on that day.

Also, I checked https://www.overleaf.com/read/kwxjyyvywgfz the right pane says the presentation has not compiled yet. Since the rendered presentation is not visible it's little hard to see/read the content for everyone. possible to fix it? Thanks.

[2015-09-10 18:24] bhanuvrat opened #7 "Intro to Ansible"

[2015-09-14 12:48] akshayaurora commented on #7
:+1:

[2015-09-14 19:20] CuriousLearner commented on #7
:+1:

[2015-09-15 04:11] amitt001 commented on #7
:+1:

[2015-09-15 04:24] ajoyoommen commented on #7
+1

[2015-10-10 14:03] jaidevd opened #8 "Automatic Data Validation and Cleaning"
Hey guys,

I had a proposal at PyCon 2015 (https://in.pycon.org/cfp/pycon-india-2015/proposals/automatic-data-validation-and-cleaning-with-pysemantic/), which didn't get selected. If you don't mind, I'd like to deliver the talk at our meetup on 17th Oct 2015

[2015-10-10 14:07] theskumar commented on #5
@dusual moving this talk to 17th Oct. for voting. Confirm if you'll be available.

[2015-10-10 14:10] theskumar commented on #6
@akshayaurora What's the status of this. I'm moving this to 17th Oct milestone for voting. If it's not possible on 17th, do inform.

[2015-10-10 14:14] theskumar commented on #7
@bhanuvrat i'm moving this to 17th Oct, milestone for voting. Please let us know if you can't be available on that day.

It would be great if you can add a url a presentation for this talks. Thanks.

[2015-10-12 04:01] ikilledthecat opened #9 "Data Processing as a pipeline: Functional programming in python"
Setup a simple data processing pipeline using generators and coroutines with a sprinkling of some pandas goodness.

[2015-10-12 04:30] dusual commented on #5
@theskumar  Yeah I can do this on 17th

[2015-10-12 04:31] dusual commented on #7
@bhanuvrat @theskumar I think this talk has been delivered hasn't it.

[2015-10-12 04:46] CuriousLearner commented on #7
Yes, it was delivered in last meet-up.

[2015-10-12 05:51] bhanuvrat commented on #7
it wasn't recorded properly, plus the audience less too.
we can do it again - if and when we are in need of a talk.

On Mon, Oct 12, 2015 at 10:16 AM, Sanyam Khurana <notifications@github.com>
wrote:

--
Anuvrat Parashar
http://anuvrat.in

[2015-10-13 12:08] #6 closed

[2015-10-13 12:09] akshayaurora commented on #7
@bhanuvrat if we want to do it again then this needs to be opened up as a new issue so people can vote from fresh.

[2015-10-13 12:10] akshayaurora commented on #8
+1 as a workshop,  had a talk with jade and he would be able to deliver this as a workshop.

[2015-10-13 12:20] akshayaurora commented on #9
Could we have some data  about the author plus some slides ?

[2015-10-13 14:42] akshayaurora commented on #5
:+1:

[2015-10-13 14:50] akshayaurora commented on #9
@ikilledthecat would be great if you could add some info about yourself and about the talk so it's easy for people to vote based on content.

[2015-10-14 05:56] #7 closed

[2015-10-14 06:14] theskumar commented on #5
@dusual We are confirming you talk for 17th Oct. Wish you best of luck! :blush:

[2015-10-14 06:44] theskumar commented on #8
@jaidevd We are confirming this as workshop for 17th Oct. Wish you best of luck! :blush:

[2015-10-14 06:46] jaidevd commented on #8
Thanks! Will put up the requirements shortly.

[2015-10-14 06:53] ikilledthecat commented on #9
Hey @akshayaurora . I'm new to pydelhi and i mostly work with bitbucket so apologies for taking time with this.

My name's Prasanjit Prakash. I'm co founder and Tech lead at Xlott. We are a small startup in the tech recruitment space. We hope to provide analytical sourcing solutions to tech firms. We have tested our alpha and are in the final stages of beta.

I started programming in python about

[2015-10-14 08:11] bhanuvrat opened #10 "a how-to is required for this repo."
For people stumbling upon this repo with an intention of proposing a talk a how-to document outlining the process would be very helpful.

[2015-10-14 12:05] akshayaurora commented on #9
@ikilledthecat don't worry about it and take your time, We can look at having this talk on 31st Oct.

I hope you don't mind. You can still showcase your work as a flash talk "15 minutes" on 17th. If you plan to do so please let us know and we can add you to the list of flash talks.

[2015-10-14 12:08] ikilledthecat commented on #9
@akshayaurora Sure that works for me. I'd rather take up some more time and do it on a later date than do a flash talk. Since a flash talk is unlikely to do any justice to the topic.

[2015-10-14 12:29] akshayaurora commented on #9
:+1: for 31st october.

[2015-10-28 14:59] ikilledthecat commented on #9
@akshayaurora I apologize but I won't be in delhi this weekend. I had conveyed this to @bhanuvrat . Please see if you can shift it to a later date.

[2015-11-14 04:22] ikilledthecat commented on #9
[Here's a draft presentation](https://drive.google.com/file/d/0B3hnCqTKLDVNTkVaY1RveXFJUTA/view?usp=sharing). The material is final i may remove code blocks from it though. Laso if anyone has any feedback I'll gladly incorporate things into the presentation.

[2015-11-26 08:06] #8 closed

[2015-11-28 16:47] akshayaurora commented on #9
:+1:  for December 12th Meet

[2015-11-30 12:03] satyaakam commented on #10
@bhanuvrat are you saying there is no proper documentation on how to propose a talk here ?

[2015-12-05 12:44] bhanuvrat commented on #10
sort of.
Lets have a line mentioning "open an issue" and encouraging every one to come forth on the website also.

[2015-12-12 13:39] shagunsodhani opened #12 "Proposal: Graph Processing in Python with NetworkX"
Hi! I would like to propose a talk about graph processing in Python using NetworkX library. I would be using some real life graph-data like github followers graph. I think 26th is already taken so would 9th Jan be a good date?

[2016-01-11 17:34] aktech opened #13 "Workshop Proposal: Symbolic Computation with Python using SymPy"
I am proposing a workshop for PyDelhi's Upcoming Meetup. Since the workshop for 16 Jan is already taken, the day of next meetup would be great for this workshop.

**Slides:**
http://iamit.in/talks/slides/sympy-tutorial-intro.pdf

**Ipython-Notebooks:**
http://iamit.in/sympy-tutorial/tutorial_exercises.zip

[2016-01-13 17:46] aktech commented on #13
Proposed here: https://github.com/pydelhi/workshops/issues/4

[2016-02-11 10:53] tarunlalwani opened #14 "Session: Deploying your Python Apps using Docker"
Session: Deploying your Python Apps using Docker
Meetup: 20th Feb

[2016-02-11 12:24] satyaakam commented on #14
@tarlabs any links to content like slides etc...

[2016-02-11 12:50] tarlabs commented on #14
@satyaakam, no will have to prepare the content. But something like below

http://www.slideshare.net/ATASlides/atagg2015-nitin-mukhija-n-tarun-lalwani-continuous-delivery-by-building-environment-using-docker

[2016-02-15 10:04] aniketmaithani opened #15 "Proposal: Using Python for `Design Elements`."
Generally we think Python as a tool to accomplish certain geeky task. But during this crisp talk I'll lay focus on how we are using Python to generate Fractal Patterns and Automating design related task.

[2016-02-16 04:45] akshayaurora commented on #13
can be closed now this was conducted last time in sarai.

[2016-02-16 04:58] #13 closed

[2016-02-16 10:18] satyaakam commented on #14
@tarlabs you are listed for the talk http://www.meetup.com/pydelhi/events/226049193/ prepare your slides now!!

[2016-02-25 09:47] aktech opened #16 "Proposal: Demystifying Python MRO"
Hi! I am proposing a talk for PyDelhi Meetup on Demystifying Python MRO, on 2nd April 2016.

**Update:**
Slides: http://slides.com/aktech/python-mro/#/

[2016-03-07 04:09] #12 closed

[2016-03-07 04:15] shagunsodhani opened #17 "Proposal: Getting started with PySpark"
Hi! I would like to propose a talk about how to get started with PySpark. PySpark is the Python binding for [Spark](http://spark.apache.org/). It is the same spark which claims to run 100X faster than Hadoop for in-memory computations. I will focus on what Spark is all about and the different ways it can be used with Python - scripts/shell/IPython.

[2016-03-07 04:44] theskumar commented on #15
This talks is already delivered.

@aniketmaithani please add your slides to the Readme.md and with other details and then we can close this up. Thanks.

[2016-03-07 04:47] theskumar commented on #10
Agreed. Now we can also add a `issue_template.md` to help create a proper issue/talks submission. Got any suggestions what all to include there?

[2016-03-07 13:53] akshayaurora commented on #17
Seems like a good talk. Can you add some bio about yourself and some slides for the talk.

[2016-03-07 14:23] shagunsodhani commented on #17
Hey @akshayaurora. I am Shagun Sodhani. I graduated in Computer Science from IIT Roorkee in 2015. Since then I have been working with Adobe Analytics. I have been using Spark for past 6 months (primarily using Scala) and recently have started using PySpark as well.

For the slide, give me some time. I would be using an IPython notebook most probably.

[2016-03-10 17:00] shagunsodhani commented on #17
hey @akshayaurora So can I do it in the next meetup?

[2016-03-10 18:39] akshayaurora commented on #17
slides?

[2016-03-10 19:02] shagunsodhani commented on #17
https://github.com/shagunsodhani/talks/blob/master/spark/PySpark.ipynb

This covers the rdd part for PySpark. Would add another part for SparkSQL and slides will only cover Spark as a system and not how to use it. I will make them available by this weekend. The talk is next saturday right?

Please let me know your feedback.

[2016-03-11 19:35] shagunsodhani commented on #17
@akshayaurora [This](https://github.com/shagunsodhani/talks/blob/master/spark/PySpark.ipynb) is the completed IPython notebook for the talk. I will attach the placeholder slides by Sunday.

[2016-03-13 16:49] shagunsodhani commented on #17
@akshayaurora [This](http://slides.com/shagunsodhani/deck#/) is the link to the deck.

[2016-03-15 16:52] akshayaurora commented on #17
+1 for having this talk on 19th, please confirm that you are available and will be coming to the venue

[2016-03-15 16:54] akshayaurora commented on #16
slides, content?

[2016-03-15 17:05] aktech commented on #16
The slides are not ready yet. This talk proposal is for the next meetup after the meetup on 19th.

[2016-03-15 17:11] shagunsodhani commented on #17
@akshayaurora works for me. What is the venue?

[2016-03-15 18:32] akshayaurora commented on #17
http://www.meetup.com/pydelhi/events/226049222/ let me know if the time is more than you need or less.

[2016-03-16 06:58] shagunsodhani commented on #17
1 hour is sufficient :+1:

[2016-04-07 19:10] aktech commented on #17
Status: Delivered

[2016-04-07 19:10] aktech commented on #16
Status: Delivered

[2016-04-08 05:21] #16 closed

[2016-04-08 05:21] #17 closed

[2016-04-09 09:14] aktech opened #21 "Talk Proposal: Introducing Metaclasses"
Hi! I am proposing a talk for PyDelhi Meetup on Introducing Metaclasses, on April 30, 2016.

[2016-04-12 17:44] aktech commented on #5
Talk status: Delivered

[2016-04-13 09:10] #5 closed

[2016-05-21 17:33] gamer496 opened #22 "Scraping from beautiful soup to selenium"
In this talk I will start from the bottom as to how people study a website and scrape starting from beautiful soup and how selenium may be the last resort in certain situations.

[2016-05-23 13:46] akshayaurora commented on #9
This was delivered on December 12th

[2016-05-23 18:33] aktech commented on #22
Hi @gamer496 do you have a content outline/slides/code?

[2016-05-24 06:59] gamer496 commented on #22
Yeah @aktech here is my bit link https://bitbucket.org/gamer496/
Also will prepare the slides.
The outline consists of:
1.)Starting from the easiest like some startups.
2.)Checking on which security the website has implemented.
3.)How you may never want to do scrapping without proxies.
4.)How to easily integrate proxies in different scripts.
5.)BeautifulSoup and requests vs scrapy.
6.)And how sele

[2016-05-24 14:32] aktech commented on #22
Great! are you available on this meetup on Saturday (28 May) for the talk?

[2016-05-24 17:16] gamer496 commented on #22
I have end-sem  tests from 30th.
I was hoping I could give this talk on next meetup.

[2016-05-26 10:57] aktech commented on #22
Alright no, problem.

[2016-07-08 06:44] brijrajsingh opened #24 "Talk proposal - Introduction Iron Python"
IronPython is an open-source implementation of the Python programming language which is tightly integrated with the .NET Framework. IronPython can use the .NET Framework and Python libraries, and other .NET languages can use Python code just as easily.
In this 15 minute talk - we'll use an existing .net library with python code.

[2016-07-27 20:10] aniketmaithani commented on #15
https://docs.google.com/presentation/d/1Z06eZiux55FPdTbTRaCvtZPLSqh8y1sMi3ztKfcmIBY/edit?usp=sharing @theskumar

[2016-07-27 20:23] aniketmaithani opened #26 "Proposal : Mocking in Python"
I would love to see someone take up this talk proposal w.r.t Mocking in Python and how to write efficient unit test cases. In case anybody is interested please respond :)

[2016-07-28 07:52] theskumar commented on #15
Wanna send PR?

[2016-10-20 19:09] BhargavaAshish opened #28 "unittest- How to use Assertions"
Python unittest is an excellent tool to test the python code at unit level and easy to understand every python developer should aware of it

[2016-10-29 18:59] akshayaurora commented on #28
@BhargavaAshish scheduling your talk for our next meet up on 6th November.

Let us know if you won't be able to make it.

[2016-11-03 04:36] rajarahulray opened #29 "Proposal: "Kivy :Python for Android""
Aim: To develop android applications using Kivy from scratch.

Level: Beginner + Intermediate

Live Tutorial demonstration : Yes

Link to slides: **http://slides.com/rajarahulray/kivy_intro#/**

[2016-11-10 16:46] cocoa1231 opened #30 "Proposal: "AI and Python""
Don't how python will fit into this, but it would be pretty cool if someone would do this

[2016-11-10 16:53] CabbageHead-360 opened #31 "Proposal: "Linux Kernel development in Python""
Check this out: http://www.kplugs.org/

[2016-11-10 16:58] sourabhtk37 commented on #31
Looking forward for this.

[2016-11-10 17:04] sourabhtk37 opened #32 "Suggestion: Interfacing with C using python"
Anyone interested in taking this up?
This talk can include topics like :
1. Cython
2. Swig
3. Python-C-API
4. C-types

[2016-11-17 05:19] CuriousLearner opened #33 "Proposal: Contributing to Mozilla Marionette & Firefox UI Tests using Python"
Marionette is an automation driver for the gecko engine to write UI tests.
With Marionette, one can replicate user actions and control either UI/JS of Gecko platform. This includes both the visible content of the page (content context) or the elements of the menu/ functions (chrome context).

In this talk, I'll be explaining it's usage in Firefox/Firefox OS explaining about Marionette & a little a

[2016-11-17 17:06] CabbageHead-360 opened #34 "Proposal: "Introduction to SimpleAI""
I came across this:
https://github.com/simpleai-team/simpleai

I'd love it if someone did an introduction to this

[2016-11-20 12:45] theskumar commented on #33
@CuriousLearner details please.

[2016-11-20 13:42] CuriousLearner commented on #33
Marionette is an automation driver for the gecko engine to write UI tests.
With Marionette, one can replicate user actions and control either UI/JS of Gecko platform. This includes both the visible content of the page (content context) or the elements of the menu/ functions (chrome context).

In this talk, I'll be explaining it's usage in Firefox/Firefox OS explaining about Marionette & a little a

[2016-11-20 16:04] theskumar commented on #33
@CuriousLearner this proposal is good to go. can you get is updated on meetup page? maybe be add link back to this issue for detail about the talk, followup by participants, etc.

Send a PR with slides/recorded talks, etc when after talk is delivered.

Cheers, best of luck! 👍

[2016-11-22 02:06] theskumar commented on #33
Talk added to https://www.meetup.com/pydelhi/events/232105313/

[2016-11-22 05:02] CuriousLearner commented on #33
Thanks @theskumar! I'll update with the slides soon :)

[2016-11-23 13:33] akshayaurora commented on #31
confirming this for 27th November 2016  meetup

[2016-12-05 18:32] sourabhtk37 commented on #33
Mark this as delivered. Please.

[2016-12-09 15:05] jasminefolz opened #36 "Anthropology of FOSS in India"
I would like to give a short talk about my phd research and solicit volunteers for my project. About me:
Jasmine Folz is an American/Canadian citizen doing her Ph. D. in Anthropology in the University of Manchester (UK) on the subject of FOSS in India. She is hosted as a Visiting Researcher at the AU-KBC Research Centre in Chennai for her field work for one year, March 2016 to Feb 2017. Some more

[2016-12-11 17:14] aktech opened #37 "Proposal: Lets talk about "GIL""
I will be talking about Global-Interpreter-Lock (GIL) in Python. It's a mutex that prevents multiple native threads from running in parallel. In essence, this says that a python program cannot do more than one thing at once via threading.

[2017-01-02 18:44] aniketmaithani opened #38 "Proposal: Is Random.py "Random"???"
- What is Random?
- Defining Random?
- Diving into the source code lib/random.py
- Talk Time 20 Mins [For beginners ]
- Here is the link to the slide : https://drive.google.com/file/d/0B3LQS5ZvGd69RjFDNUtWUkMwVVU/view?usp=sharing :)

[2017-01-11 11:33] akshayaurora commented on #37
@aktech can you talk about it this meetup on 21Jan IIM Campus ?

[2017-01-11 11:34] akshayaurora commented on #36
@jasminefolz thanks for the talk.

@theskumar Talk has been delivered on our December Meetup. This issue can be closed.

[2017-01-11 11:56] aktech commented on #37
Yes, works for me.

[2017-01-11 13:48] akshayaurora commented on #38
@aniketmaithani would you be available to deliver this talk for the meetup on 21 Jan @ IIM Lucknow Noida Campus?

[2017-01-11 13:49] akshayaurora commented on #31
Talk was well received, issue should be closed.

[2017-01-11 17:00] #36 closed

[2017-01-11 17:01] theskumar commented on #28
@BhargavaAshish i'm closing this up due to no response. Please reopen as required.

[2017-01-11 17:01] #28 closed

[2017-01-11 17:01] #24 closed

[2017-01-11 17:01] #21 closed

[2017-01-11 17:01] #15 closed

[2017-01-11 17:05] theskumar commented on #22
@gamer496 I'm closing this up as it's been open for quite a while. Please feel free to reopen if you still want to present the topic in any of our meetups.

[2017-01-11 17:05] #22 closed

[2017-01-17 07:44] aniketmaithani commented on #38
@akshayaurora I am not sure. I am in Bengaluru right now. Will update by 18th EOD :)

[2017-01-19 13:24] shubh3794 opened #39 "Proposal: Async programming and real time features in python"
There are always some questions were related to realtime functionality - how it works, how to integrate realtime portion with conventional WSGI applications, how to structure application code and so on. Also with this talk I'd like to put some light on Greenlets and Gevents

[2017-01-22 13:40] #31 closed

[2017-01-23 08:38] BhargavaAshish opened #40 "Assertion in python"
How to user assertion
Use Different type of assertion
using assertion in same class
use assertion in outside the class

[2017-02-12 18:25] akshayaurora commented on #38
@aniketmaithani slating this for 18th Feb Meetup in amity.

[2017-02-12 18:29] akshayaurora commented on #37
Delivered.

[2017-02-12 18:30] akshayaurora commented on #39
Seems like a interesting talk. Slating this for 18th Feb Amity Meetup.

[2017-02-13 07:39] aniketmaithani commented on #38
@akshayaurora sure. :)

[2017-02-14 13:30] akshayaurora commented on #39
@shubh3794 can you confirm your availability for this meetup.

[2017-02-14 13:39] shubh3794 commented on #39
Sure. I am available.

[2017-02-14 14:02] akshayaurora commented on #39
Perfect, meetup page updated with your talk.

[2017-02-14 14:03] akshayaurora commented on #39
@shubh3794 can you upload some slides, details, requirements etc that people need to be ready with before hand.

[2017-02-14 14:04] akshayaurora opened #41 ""Propose a talk" on PyDelhi Page."
The PyDelhi.org page should have a link to. "Propose a talk" that takes them to https://github.com/pydelhi/talks/issues/new

[2017-02-14 14:05] shubh3794 commented on #39
@akshay Yes will do by tonight.

Warm regards
Shubham Aggarwal
+91-8447223459

On Feb 14, 2017 19:33, "Akshay Arora" <notifications@github.com> wrote:

[2017-02-16 06:51] shakti4ranjan commented on #41
Working on Python with Visual Studio

[2017-02-18 14:08] coderK3 opened #42 "Proposal for talk:What I found in python"
i want to give a talk on next meetup about what i found in python when i started learning. it is basically a talk in which i will differentiate the thing(keywords etc) Which is used in another languages(C,C++,PYTHON). it is very useful for the beginners.

[2017-02-19 09:45] aniketmaithani commented on #38
@akshayaurora @theskumar you can mark this as delivered and close the issue. The link to the slide has been added on my topmost comment. :)

[2017-02-20 08:36] aniketmaithani opened #44 "Proposal : Property Based Testing"
I am new to the following library [Hypothesis](http://hypothesis.works) and hence wanted to give my first talk on the following topic. Also, I have proposed the same for PyDelhi conf <3

# What are Property Based Tests
- Property-based tests make statements about the output of your code based on the input, and these statements are verified for many different possible inputs. A property-based testi

[2017-02-20 09:39] theskumar commented on #38
@aniketmaithani if possible create a PR adding data to README.md with details. I'm marking this as delivered.

[2017-02-20 11:52] aniketmaithani commented on #38
@theskumar already did that #43 :)

[2017-02-20 12:04] #38 closed

[2017-02-23 06:47] akshayaurora commented on #40
Can you give this talk on this upcoming meetup? @ Ramanujan College 25th February?

[2017-02-23 08:44] BhargavaAshish commented on #40
I will confirm by tomorrow evening 4.00 PM

    On Thursday, February 23, 2017 12:17 PM, Akshay Arora <notifications@github.com> wrote:

 Can you give this talk on this upcoming meetup? @ Ramanujan College 25th February?—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-02-24 13:05] BhargavaAshish commented on #40
Hi,
Due to  death in my family I will not be able to to make it.
Regards,Ashish Bhargava 

    On Thursday, February 23, 2017 2:14 PM, ashish bhargava <ashish_bhargava@yahoo.com> wrote:

 I will confirm by tomorrow evening 4.00 PM

    On Thursday, February 23, 2017 12:17 PM, Akshay Arora <notifications@github.com> wrote:

 Can you give this talk on this upcoming meetup? @ Ramanujan College 25th F

[2017-03-02 10:26] KushagraB opened #45 "Proposal: Celery with Python: The way to distribute and schedule millions of processes"
## Have a large codebase and lots of processes to run?

-------------------------------------------------------------------------------------------------------------------------------------------
I plan to introduce the power and scope of Celery to novice/intermediate level Pythonistas.
Since this will be an introduction to celery, I will go with the beginner-level discussion and hands-on:
- List

[2017-03-21 12:12] ishaan007 opened #46 "Proposal : Introduction to text classification"
Every text classification problem in NLP is broadly categorized as a document or a token level classification .This talk will be  devoted to document classification

I will walk through a classification experiment I coded and will talk about the process and ins and outs of it.

This is a blog I wrote on all this
https://medium.com/towards-data-science/document-feature-extraction-and-classification

[2017-03-22 17:12] ishaan007 commented on #46
@theskumar @aniketmaithani  can anyone of you look into this talk proposal ?

[2017-03-27 15:48] aktech commented on #46
Hey @ishaan007 thanks for the proposal. Would be able to confirm this for the next meetup on [Saturday, 1st April](https://www.meetup.com/pydelhi/events/235843440/) ?

[2017-03-27 15:49] aktech commented on #45
Hey @KushagraB  thanks for the proposal. Would be able to confirm this for the next meetup on [Saturday, 1st April](https://www.meetup.com/pydelhi/events/235843440/) ?

[2017-03-28 06:30] ishaan007 commented on #46
Sure,dropped an email on dtu.amit@gmail.com ,kindly check !

[2017-03-28 13:34] yardstick17 opened #47 "Proposal: Introduction to Convolutional Neural Network"
I will walk through the basics  of CNN to its implementation on a practical database.

[2017-03-28 13:37] aktech commented on #47
Hey @yardstick17 thanks for the proposal. Would you be able to confirm this for the next meetup on Saturday, 1st April?

[2017-03-28 13:38] yardstick17 commented on #47
Sure Amit.

[2017-04-12 06:51] akshayaurora commented on #46
@aktech was this delivered?

[2017-04-12 06:59] aktech commented on #46
Yes

[2017-04-27 07:48] aktech commented on #45
Would be able to confirm this for the next meetup on this Saturday, 29th April?

[2017-04-27 07:49] aktech commented on #40
@BhargavaAshish Would be able to confirm this for the next meetup on this Saturday, 29th April?

[2017-04-27 07:52] BhargavaAshish commented on #40
Already have commitments for 29th april , but take up in next meet upRegards,Ashish Bhargava.

    On Thursday, April 27, 2017 1:19 PM, Amit Kumar <notifications@github.com> wrote:

 @BhargavaAshish Would be able to confirm this for the next meetup on this Saturday, 29th April?—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-05-02 13:44] dusual opened #48 "Proposal: X things you can do to improve your python code right now."
These days I am refactoring a python codebase that has lead to a lot of ideas on simple things that can improve a codebase in short amount of time. There is no tentative date or number I can give right now but I think I should have some 20-30 in next 2 months.

[2017-05-08 16:43] akshayaurora commented on #48
@dusual Hey welcome back to NCR, would you be available to give this talk on our next meet-up?

13th May 2017, venue would probably be Ramanujan or Sarai.

[2017-05-08 16:45] akshayaurora commented on #45
@KushagraB Hey, you available to give this on 15th May?

[2017-05-08 16:49] akshayaurora commented on #42
@coderK3 available to give your talk on our next meetup? 13th May

[2017-05-08 16:51] akshayaurora commented on #39
@shubh3794 could you please refresh my Memory ? Was this talk delivered ?

[2017-05-08 18:37] coderK3 commented on #42
I'm unable to give the talk because of my semester examination. :) Thank you

On 8 May 2017 10:19 p.m., "Akshay Arora" <notifications@github.com> wrote:

[2017-05-09 04:02] dusual commented on #48
@akshayaurora I am still compiling things for this talk. I think i should be ready in couple of weeks. But 13th may be too soon.

[2017-05-23 05:37] Warlord77 commented on #48
@dusual  can you deliver your talk on 27th May 2017

[2017-05-29 15:11] realslimshanky opened #49 "Proposal: Make Telegram Bot Using Python And Run On Your Phone"
I'll be covering the use of telegram bot API from scratch.
* Telegram Bot API
* Making request and sending response to Bot
* Using Telegram-Python-Bot package
* Deploying bot on your smart phone
* Other options to deploy

Speaker's Profile
* Bio - http://shanky.xyz
* Slides - http://slides.com/realslimshanky/tbotpython
* Previous Talk - https://www.youtube.com/watch?v=J6aZlUzxL5w

[2017-06-12 19:44] Pulkit07 opened #50 "Awesome features in Mercurial, a version control system in Python"
This will be a talk on features like revsets, filesets, phases, history editing eatures like evolve, absorb, etc. which are extremely useful for programmers. This will also cover why organisations like Facebook, Mozilla and others uses Mercurial.

[2017-06-19 07:12] akshayaurora commented on #50
@Pulkit07 can you deliver this talk in our upcoming meetup this Saturday 24th ?

[2017-06-19 07:15] akshayaurora commented on #49
@realslimshanky can you deliver this talk on 24th June?

[2017-06-19 10:41] realslimshanky commented on #49
@akshayaurora yes. I'm all prepared.

[2017-06-20 09:19] akshayaurora commented on #45
Closing this cause of lack of response.

[2017-06-20 09:19] #45 closed

[2017-06-20 09:20] akshayaurora commented on #40
@BhargavaAshish can you deliver this talk on our upcoming meetup? 24th June?

[2017-06-20 09:29] akshayaurora commented on #29
@rajarahulray can you deliver this talk on 24th June?

[2017-06-20 18:13] Pulkit07 commented on #50
@akshayaurora sorry I have some other commitments this weekend.

[2017-06-21 09:41] rajarahulray commented on #29
I am really sorry Sir...But I am going to Hyderabad this weekend for
AngelHack. However, I can deliver it on next weekend, if you can allow.

Thanks for considering my proposal.

Raja Rahul Ray

On Tue, Jun 20, 2017 at 2:59 PM, Akshay Arora <notifications@github.com>
wrote:

[2017-06-23 06:31] amitkumarj441 opened #51 "Talk : Ethereum Blockchain"
This talk comprises of basic introduction to Blockchain and Ethereum dealing with development framework and quick testing environment for Blockchain.

:e-mail: Agenda :

  - Blockchain Philosophy
  - Bitcoin
  - Ethereum
  - Difference b/w Bitcoin & Ethereum
  - Basic concepts in Ethereum
  - Supporting tools for Ethereum
  - Developing Framework
  - Quick Testing environment for Blockchain

Speak

[2017-06-26 09:42] rajat404 opened #52 "The essential toolkit of a Python developer"
This talk covers some of the lesser known shell utilities and python libraries that can make the lives of Python developers easier.

Slides/Notebook: https://github.com/rajat404/talks/tree/master/essential_tools_python

[2017-06-26 10:03] theskumar commented on #52
Thanks @rajat404, wanna created a PR to update the README.md :)

[2017-06-27 07:12] rajat404 commented on #52
Done

[2017-07-02 08:57] aktech commented on #51
Delivered.

[2017-07-02 08:58] aktech commented on #50
@Pulkit07 would you like to deliver this talk on the next meetup on [Saturday, July 8, 2017](https://www.meetup.com/pydelhi/events/238176683/) ?

[2017-07-02 08:59] aktech commented on #42
@coderK3  would you like to deliver this talk on the next meetup on [Saturday, July 8, 2017](https://www.meetup.com/pydelhi/events/238176683/)?

[2017-07-02 09:09] #9 closed

[2017-07-02 09:10] #33 closed

[2017-07-02 12:10] coderK3 commented on #42
I am unable to do this because of office! Saturday is my working day.

On Jul 2, 2017 2:29 PM, "Amit Kumar" <notifications@github.com> wrote:

[2017-07-02 12:37] #37 closed

[2017-07-02 12:37] #44 closed

[2017-07-02 12:37] #46 closed

[2017-07-02 12:37] #47 closed

[2017-07-02 12:37] #48 closed

[2017-07-02 12:37] #52 closed

[2017-07-02 12:43] theskumar commented on #51
@aktech 🤘

@amitkumarj441 thanks for the talk, we love to add the talk detail in our README.md for future records and reference. Possible you can create a pull-request with the details. I'm closing this issue for now.

Cheers!!

[2017-07-02 12:43] #51 closed

[2017-07-02 12:59] theskumar commented on #49
@realslimshanky Is this talk delivered, if so would you mine sending a pull-request updating README.md with details. Thanks.

[2017-07-02 13:02] theskumar commented on #49
Delivered @ https://www.meetup.com/pydelhi/events/238176680/

[2017-07-02 13:03] theskumar commented on #51
Tagging delivered @ https://www.meetup.com/pydelhi/events/238176680/

[2017-07-02 13:55] #49 closed

[2017-07-02 14:04] realslimshanky commented on #49
@theskumar done. I've added the updated the README.md in PR #54

[2017-07-03 07:24] Pulkit07 commented on #50
@aktech Yeah sure.

[2017-07-03 08:10] aktech commented on #50
Cool! I have added your talk [here](https://www.meetup.com/pydelhi/events/238176683/). See you at the meetup.

[2017-07-03 19:13] sahil811 opened #56 "How to build a Web Crawler using Python"
A lightening talk on Web Crawler using Python and Beautiful Soup.
This talk will involve building a web crawler using python and beautiful soup library. Talk will involve live demonstration for the same. Estimate time for this talk would be 30 minutes.

[2017-07-03 19:28] aktech commented on #56
@sahil811 would you like to deliver this talk on the next meetup on [Saturday, July 8, 2017](https://www.meetup.com/pydelhi/events/238176683/)?

[2017-07-04 05:33] sahil811 commented on #56
Yes Sure !

[2017-07-04 05:39] aktech commented on #56
Cool! I have added your talk [here](https://www.meetup.com/pydelhi/events/238176683/). See you at the meetup.

[2017-07-04 18:56] menikhilpandey opened #57 "Getting Started with PySpark"
I will be briefing about Hadoop, Spark and Big Data mechanism, RDDs, SQLContext, Dataframes. Hands-on with configuration, installation and basic usage of pyspark sql and mllib functions. These topics are extremely useful for programmers who are getting started with Machine Learning and Big Data architecture.

[2017-07-04 20:10] Tanya-Jain opened #58 "Exploring Numpy"
A lightning talk on Numpy, a Python library widely used for ML.
This talk will proceed from a brief introduction to get started with Numpy, to its application in solving matrices and pictorial representation of Mandelbrot and histograms. This talk would be ~30 minutes long.

[2017-07-05 03:57] shagunsodhani commented on #58
Hey @Tanya-Jain. Can you do this in the [8th July Meetup](https://www.meetup.com/pydelhi/events/238176683/)?

[2017-07-05 03:59] shagunsodhani commented on #57
Hey @menikhilpandey how time do you think you would need for this. Also, this is kind of an advanced topic. It would be great if you could add some slides for it :). I did a talk on this topic in PyCon 2016. You might want to take a look at my [content](https://github.com/shagunsodhani/talks/tree/master/spark/PyCon2016).

[2017-07-05 04:35] shagunsodhani commented on #10
[This](https://github.com/pydatadelhi/talks/blob/master/.github/ISSUE_TEMPLATE.md) is the `issue_template.md` that PyDataDelhi uses. We could use the same.

[2017-07-05 04:38] aktech commented on #10
Probably too much of an overhead for the small volume of talk proposal we receive, these days.

[2017-07-05 05:11] shagunsodhani commented on #10
I have added a trimmed down version of the template file. Do let me know if we can trim it down further :)

[2017-07-05 09:50] menikhilpandey commented on #57
hey @shagunsodhani I will need a 40 minutes long slot for this talk. I will share the slides with you tonight. Also, your content looks great.

[2017-07-05 11:40] aregee opened #60 "Real time push notifications with Python , Gevent , Redis and Nginx ."
The idea is to implement a Pipeline based architecture where a message would come off of Redis queue and run through a pipeline of transformations and published to frontend or mobile clients using Nginx-push-stream module.

[2017-07-05 11:44] aregee commented on #60
I intend to cover similar aspects mentioned in #39  along with hands on implementation of push notification service, please let me know if this talk is feasible.

[2017-07-05 12:04] Tanya-Jain commented on #58
Yes, it would be possible for me.

[2017-07-05 13:22] shagunsodhani commented on #58
I do see two slots on the [meetup page](https://www.meetup.com/pydelhi/events/238176683/). What do you think @aktech ?

[2017-07-05 13:27] shagunsodhani commented on #60
@aregee This sounds very interesting. How much time do you think you would need. Also, it would be very helpful if you could please add your slide deck (even if it is a work in progress)

[2017-07-05 16:01] #10 closed

[2017-07-05 16:06] aktech commented on #58
+1 I think we can have it on this meetup.

[2017-07-05 18:18] menikhilpandey commented on #57
Hi @shagunsodhani  I am preparing this talk for the next meetup. I would require a 40 minutes slot for the same. I will share the link of my content soon. Also, your content is awesome :)

[2017-07-06 04:43] shagunsodhani commented on #57
Just to confirm, you are referring to the one on 8th July right?

[2017-07-06 04:45] shagunsodhani commented on #58
Could you please add it to the meetup page @aktech . And @Tanya-Jain could you please add a link to the slides (even if it is a WIP)

[2017-07-06 04:48] aktech commented on #58
@shagunsodhani I have added this talk on the [meetup page](https://www.meetup.com/pydelhi/events/238176683/). @Tanya-Jain See you at the meetup.

[2017-07-06 04:52] shagunsodhani commented on #58
:+1:

[2017-07-06 05:00] menikhilpandey commented on #57
No I am referring to the one on 22nd July.

[2017-07-06 05:42] shagunsodhani commented on #57
Sure. Looking forward to your talk :smile:

[2017-07-06 23:33] aregee commented on #60
@shagunsodhani
Link to [repo](https://github.com/aregee/teteris.py/) and [deck](https://github.com/aregee/teteris.py/blob/master/pitch.pdf) wip

[2017-07-07 05:54] shagunsodhani commented on #60
@aregee This looks great :+1:

[2017-07-08 16:09] sourabhtk37 commented on #58
@Tanya-Jain please provide the slides for this talk

[2017-07-08 16:10] sourabhtk37 commented on #56
@sahil811 please provide the slides for this talk.

[2017-07-08 16:11] sourabhtk37 commented on #50
@Pulkit07 please add your slides and(or) code of the talk here.

[2017-07-10 06:00] sahil811 commented on #56
@sourabhtk37 Sorry for the delay. Here is the slides for this talk
[web crawlers ppt.pptx](https://github.com/pydelhi/talks/files/1134533/web.crawlers.ppt.pptx)

Also you can find the complete repository here :
https://github.com/sahil811/Web-Crawler-using-Python

[2017-07-17 07:05] akshayaurora commented on #60
@aregee can you give this talk in our next meetup on 22 July ?

[2017-07-17 07:08] akshayaurora commented on #57
@menikhilpandey so you are up for the meetup on 22nd July? Just confirming before we put it on the meetup schedule.

[2017-07-17 07:11] akshayaurora commented on #42
@coderK3 what about the upcoming meet on 22nd July ?

[2017-07-17 07:13] akshayaurora commented on #40
@BhargavaAshish still available? we have another opportunity on 22July meetup, let us know if you can take your talk up in that session.

[2017-07-17 07:15] akshayaurora commented on #14
@tarunlalwani can you deliver your talk this upcoming meet ? 22nd July

[2017-07-17 08:42] cosmologist10 opened #61 "Tail call optimization and Memoization in Python"
- This talk will cover:
  1. Why Python doesn't optimize tail recursion.
   2. Tail Call Optimization using some libraries.
   3. Memoization in Python.
   4. Visualization

 Will explain the above topics using Fibonacci sequence.

-This talk would be ~30 minutes long.
-The link to the slides will be updated on Thursday.

[2017-07-17 11:00] shagunsodhani commented on #60
@akshayaurora lets close this issue then. I can not close issues so you would have to do it.

[2017-07-17 12:27] #60 closed

[2017-07-17 12:27] #58 closed

[2017-07-17 12:28] #56 closed

[2017-07-17 12:28] #50 closed

[2017-07-18 04:07] menikhilpandey commented on #57
Yes. I'll share the slides today.

[2017-07-18 07:30] tarunlalwani commented on #14
Where is it going to be held?

On Jul 17, 2017 12:45 PM, "Akshay Arora" <notifications@github.com> wrote:

[2017-07-18 09:19] bhaveshAn opened #62 "Getting started with Flask and SQLAlchemy"
- Title

Getting started with Flask and SQLAlchemy
- Brief description about the content to be covered

This will cover Introduction to Flask and SQLAlchemy and to develop a simple data driven web application using these libraries.

- Time required for the talk

About 30-40 minutes.
- About yourself

Hi, I am Bhavesh Anand, B.Tech IT final year student from G.B. Pant University of Agriculture and

[2017-07-19 07:32] akshayaurora commented on #14
@tarunlalwani https://www.meetup.com/pydelhi/events/238176684/
Empowerers Coworking City, Green Park

[2017-07-19 07:34] akshayaurora commented on #61
@cosmologist10 would you be up to give your talk in this upcoming meetup?

[2017-07-19 07:34] akshayaurora commented on #62
@bhaveshAn up to give the talk on this meet? 22nd July?

[2017-07-19 08:10] tarunlalwani commented on #14
Okie, I can take up the session

Regards,
Tarun Lalwani

On Wed, Jul 19, 2017 at 1:02 PM, Akshay Arora <notifications@github.com>
wrote:

[2017-07-19 08:25] bhaveshAn commented on #62
Yes @akshayaurora on 22nd July!

[2017-07-19 13:16] cosmologist10 commented on #61
Yeah, I'll be delivering my talk this Saturday(22nd July).

[2017-07-19 14:54] akshayaurora commented on #14
@tarunlalwani you have been listed on the meetup page. Best of luck for your talk.

[2017-07-23 07:20] cosmologist10 commented on #61
The slides of my talk: http://slides.com/shwetasuman/tail-call-optimisation#/
Codes: https://github.com/cosmologist10/Tail-call-optimization-and-memoization-in-Python

[2017-07-27 17:36] tarunlalwani commented on #14
Can anyone share the pics taken during my session?

Regards,
Tarun Lalwani

On Wed, Jul 19, 2017 at 8:24 PM, Akshay Arora <notifications@github.com>
wrote:

[2017-08-13 07:17] #61 closed

[2017-08-13 07:19] #57 closed

[2017-08-13 07:20] aktech commented on #62
@bhaveshAn available for this talk on next meetup, [19th August](https://www.meetup.com/pydelhi/events/241079149/)?

[2017-08-13 19:08] bhaveshAn commented on #62
@aktech Can confirm the talk and its title only after knowing the venue.

[2017-08-28 17:49] suheb opened #63 "Talk Proposal: Dabbling with Decorators"
- Title
 Dabbling with Decorators

- Brief description about the content to be covered
I'll be talking about Decorators, a very powerful design pattern to extend the functionality of function, method or class in Python.

- Time required for the talk
30 mins

- About yourself
I'm currently a Software Developer at Zomato. I've also been a GSoC student and mentor in the past couple of years. I briefl

[2017-09-05 08:14] rajataaron commented on #42
@coderK3 are you able to give a talk on upcoming meetup on 16 Sept?

[2017-09-05 08:18] rajataaron commented on #40
@BhargavaAshish are you able to give your talk on our upcoming meetup on 16 Sept?

[2017-09-05 08:22] #39 closed

[2017-09-05 09:11] coderK3 commented on #42
sorry for the late response! I'm unable to join due of office work.

On Tue, Sep 5, 2017 at 1:44 PM, Rajat Saini <notifications@github.com>
wrote:

--
*Thank You*
*KUNAL KUMAR KUSHWAHA*
*CONTACT +918797317269*

*P **Please don't print this e-mail unless you really need to.* *" SAVE
PAPER - THINK BEFORE YOU PRINT!"*

[2017-09-05 09:14] aktech commented on #63
Hey @suheb are you available for this talk in the next meetup on [Saturday, September 16, 2017](https://www.meetup.com/pydelhi/events/240633979/)

[2017-09-05 09:21] suheb commented on #63
@aktech Yes, I'm available. Looking forward to it.

[2017-09-05 09:23] aktech commented on #63
Cool! Adding you for the next Meetup.

[2017-10-15 12:49] yardstick17 opened #64 "Talk Proposal"
- **Title**
Data Pipelining with Luigi

- **Brief description about the content to be covered**
For a data-driven product, preparation of data needs subsequent processing over various steps. As the complexity of tasks and data increases,  reproducibility and recovery in case of failure become cumbersome.
Luigi is a Python-based framework which provides an elegant way of defining complex data pipel

[2017-10-20 10:01] akshayaurora commented on #63
@aktech @suheb was this talk delivered?

[2017-10-20 10:07] akshayaurora commented on #64
@yardstick17 are you available to take this talk on the upcoming meetup on 28th October.

[2017-10-21 10:26] yardstick17 commented on #64
Yes. I am available on 28 October.

[2017-10-21 11:44] akshayaurora commented on #64
@yardstick17 great, I will schedule your talk for that meet.

[2017-10-23 09:33] yardstick17 commented on #64
@akshayaurora Please confirm the venue and timings for the same.

[2017-10-25 07:01] suheb commented on #63
@akshayaurora No, it wasn't. But I'm available to deliver the talk on next meetup i.e. 28th Oct.

[2017-10-26 04:31] s77com opened #65 "Proposal: <title>"
- Title

- Brief description about the content to be covered

- Time required for the talk

- Link to slides / demos / any other content (if any)

- About yourself

- Any comments

[2017-11-13 08:46] Hritik14 opened #66 "Inside a router."

[2017-11-13 08:47] #66 closed

[2017-11-20 07:39] akshayaurora commented on #64
This talk was not delivered on 28th Oct.This talk was not delivered on 28th Oct.

[2017-11-20 08:11] realslimshanky commented on #64
@yardstick17 are you available on 25th November to deliver this talk?

[2017-11-20 08:12] realslimshanky commented on #63
@suheb are you available on 25th November to deliver this talk?

[2017-11-20 14:33] realslimshanky commented on #65
@s77com you can add these recommendations in the readme.md to help out.

[2017-11-20 14:51] weavermonkey opened #67 "Proposal: <title>"
- Title

- Brief description about the content to be covered

- Time required for the talk

- Link to slides / demos / any other content (if any)

- About yourself

- Any comments

[2017-11-20 14:51] #67 closed

[2017-11-21 20:03] realslimshanky commented on #41
Fixing this issue and adding progress in this [PR](https://github.com/pydelhi/pydelhi.github.io/pull/33)

[2017-11-22 12:39] pythongiant opened #68 "Talk Proposal : Writing Web Apps in Python using Django"
- Title :  Writing Web Apps in Python using Django

- Brief description about the content to be covered:
Motive of the talk is to get the audience write their first web app in python using django.

- Time : 30-45 minutes

- Link to slides / demos / any other content (if any):
https://drive.google.com/open?id=1gGFqVwPkg-besPNui1bwETq68lLNDyIT

- About yourself:
Hi,I am Srihari Unnikrishnan, a passi

[2017-11-22 15:16] realslimshanky commented on #68
LGTM. @pythongiant, we're scheduling your talk on 25th November from 12 PM to 1PM. Will this be okay with you?

[2017-11-25 18:46] sriramr98 opened #69 "Proposal : Implementing efficient Data Structures in Python"
- Title : Implementing efficient Data Structures in Python

- In this talk, we will be looking over common data structures required by any software developer to be efficient with data. Structuring data properly is key in optimizing algorithms. We will try to implement common data structures and try to optimize it considering memory and time efficiency.

- This talk requires about 1 hour to 1:30 ho

[2017-11-27 07:12] suheb commented on #63
@realslimshanky I wasn't available this weekend. Would love to deliver this talk at the next meetup.

[2017-11-27 10:02] realslimshanky commented on #63
@suheb great. Would you like to join [Telegram group for volunteer](https://t.me/joinchat/AAAAAEK2nzPg0IlwbbAing) so we can keep in touch?

[2017-12-01 11:01] realslimshanky commented on #69
@sriramr98 would you be available for this talk on the upcoming 9th December meetup?
PS: what's the update on your talk repository?

[2017-12-01 11:22] sriramr98 commented on #69
Yeah I will be able to give a talk on 9th. I have implemented the
algorithms. I will commit the changes by tomorrow positively.

On 01-Dec-2017 4:31 PM, "Shashank Kumar" <notifications@github.com> wrote:

[2017-12-01 11:25] realslimshanky commented on #69
@sriramr98 Great. Waiting to hear from your about the updates.

[2017-12-04 15:56] abhi2898 opened #70 "Proposal: Python for IoT"
I can talk on using Python for the Raspberry Pi and can talk about various libraries for developing something integrating various sensors.

[2017-12-05 08:05] jaidevd opened #72 "Talk Proposal: Nonstationary Signal Analysis with PyTFTB"
**Nonstationary Signal Analysis with PyTFTB**

Most real-life time series signals are _nonstationary_, i.e they have rapidly varying frequency content. Conventional signal processing tools like Fourier analysis are limited only to stationary signals. This talk introduces the PyTFTB project which is a set of tools that adapt Fourier analysis for nonstationary signals

**Time Required**: 30 mins

[2017-12-05 08:27] realslimshanky commented on #72
Do you have slides for the talk or you'll be directly showcasing code?

[2017-12-18 15:20] realslimshanky commented on #70
Could you please elaborate on what are all the topics you are covering, what part of those will you be live coding and what else will you be explaining via presentation?

[2017-12-18 15:26] realslimshanky commented on #68
@aktech this issue can be closed with the 'Delivered' tag as it has been delivered and added to README.md

[2017-12-18 15:27] #68 closed

[2017-12-18 15:27] realslimshanky commented on #72
@aktech this issue can be closed with the 'Delivered' tag as it has been delivered and added to README.md. @jaidevd you can update the README.md with presentation link or repository. #73 is updating your talk.

[2017-12-18 15:28] realslimshanky commented on #69
@aktech this issue can be closed with the 'Delivered' tag as it has been delivered. #73 will add this talk to README.md

[2017-12-18 16:30] #72 closed

[2017-12-18 17:33] sriramr98 commented on #69
Actually it hasn't been given as I couldn't come. I would love to give the
talk on the first meetup in Jan'19

On 18-Dec-2017 8:58 PM, "Shashank Kumar" <notifications@github.com> wrote:

[2017-12-18 21:46] realslimshanky commented on #69
Okay, let me verify and fix README.md. sorry @aktech for the confusion we can leave the issue open for now.

[2017-12-31 06:05] hargup opened #74 "Proposal: A hacker's primer to Free and Open Source License"
## A hacker's primer to Open Source License

Time: 30 min
Date: 13th January 2017

Choosing an FOSS license is one of the most important decision a project maintainer makes. The license determines which projects/libraries can be used as sub components of the project, it determines who can use the project and it what ways and the license also has a huge influence on who will contribute to the proje

[2018-01-03 13:50] realslimshanky commented on #74
Hi @hargup, we have a spot available for 13th January meetup. Should we confirm your talk? Also, please share your contact details on abc [at] shanky [dot] xyz. You can also join the [telegram](https://t.me/joinchat/AAAAAEK2nzPg0IlwbbAing) volunteer group.

[2018-01-03 13:54] realslimshanky commented on #69
@sriramr98 are you available for the meetup on [13th January](https://www.meetup.com/pydelhi/events/lvkpknyxcbjb/).

[2018-01-03 14:06] sriramr98 commented on #69
Yeah. I will be able to give the talk then.

On 03-Jan-2018 7:24 PM, "Shashank Kumar" <notifications@github.com> wrote:

@sriramr98 <https://github.com/sriramr98> are you available for the meetup
on 13th January <https://www.meetup.com/pydelhi/events/lvkpknyxcbjb/>.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/pydelhi/tal

[2018-01-03 14:46] hargup commented on #74
Thanks! please confirm the talk. My email is mail@hargup.in

[2018-01-03 14:58] m-murad opened #75 "APIs using Google Cloud Endpoints"
- Title
Developing APIs using Google Cloud Endpoints Framework

- Brief description about the content to be covered
Developing, designing and deploying APIs using Google Cloud Endpoint Framework for App Engine.

- Time required for the talk
30 mins

- About yourself
I'm an opensource enthusiast working on android and python. I work with organisations like JBoss mentoring students who code.

[2018-01-15 19:33] sriramr98 opened #76 "Proposal: Simple Voter System : Django 101"
- Simple Voter System : Django 101

- This is an introductory hands on coding lab where we create a simple Voter System Website using Django Framework

- Time required for the talk : 1 hr - 1:30 hrs

- Github Link to the code : https://github.com/sriramr98/Voter-System/

- I am an Android Developer and a beginner Django Developer.

- The github code will be updated with the finished code within a

[2018-01-16 13:16] Gouravchawla commented on #74
@hargup Can you add your presentation link here? We'll mark it delivered with a link to your presentation.

[2018-01-16 13:19] Gouravchawla commented on #69
@shashank we can mark this delivered now.

[2018-01-16 14:46] realslimshanky commented on #69
Sure. @aktech please help up with this.

[2018-01-16 14:51] aktech commented on #69
Done.

[2018-01-16 14:51] #69 closed

[2018-01-17 18:54] hargup commented on #74
Here is the link https://www.dropbox.com/s/l4b6e3ds6tpghgf/foss_licenses_talk_py_delhi.pdf?dl=0
:)

[2018-01-18 00:19] Gouravchawla commented on #74
Thanks @hargup. @shashank Can we mark this delivered?

[2018-01-18 00:29] #74 closed

[2018-01-29 15:15] satwikkansal opened #77 "Proposal: Understanding strings in Python"
The talk is designed to give the audience a better insight of Python strings by first demonstrating them snippets with unexpected outcomes and then later diving into the concepts behind the outcomes.

 Consider these snippets

        140420665652016

        140420665652016

        True

        False

        True

        False

These outcomes may seem baffling to some programmers at first, bu

[2018-01-29 17:09] aktech commented on #77
@satwikkansal Thanks for the proposal. Will you be available for the talk on the meetup after the next on [17th Feb, 2017](https://www.meetup.com/pydelhi/events/lvkpknyxdbwb/)?

[2018-01-29 17:36] satwikkansal commented on #77
Hey @aktech, 17th Feb is my college fest day (and it's kind of my last fest), can it be considered for the next available slot?

[2018-01-29 17:40] aktech commented on #77
@satwikkansal Yes, sure it's up to you.

[2018-01-29 17:42] satwikkansal commented on #77
Alright, I guess I'd prefer to wait for the next meetup then 😅

[2018-02-04 06:30] Gouravchawla commented on #76
Can we mark this as done? @shashank @amit

[2018-02-04 11:19] vipulgupta2048 opened #78 "Suggestion : Advanced git Class"
- Advanced concepts used in git such rebasing (and its types), cherry picking, troubleshooting, Merging and rebasing, resets and reverts, checkouts, tips and tricks for experienced users. Could include a little about how git works behind the scenes and other fine details about git.

- Time required for the talk

- Link to slides / demos / any other content (if any)

- About Yourself

- Any comment

[2018-02-04 11:19] vipulgupta2048 commented on #78
Anybody would like to take this up ?

[2018-02-05 06:49] rajataaron commented on #75
Hi @m-murad,
Are you available to deliver your talk in upcoming next meetup which is on [17th Feb](https://www.meetup.com/pydelhi/events/lvkpknyxdbwb/)?

[2018-02-05 06:49] iayanpahwa opened #79 "Custom Amazon Alexa skill using Python Flask"
- Title: Alexa Skill development using Python Flask Ask

- Description:- Build your own custom Alexa skill using Amazon Alexa voice kit, Python and Flask-Ask framework

- Time required:- 1 hour

- Link to slides / demos / any other content (if any) :- [WIP]

- About yourself :- [Just a techy](https://iayanpahwa.github.io/about/)

- Any comments:- I Shall not be available to deliver this talk in th

[2018-02-05 06:54] rajataaron commented on #79
Hi @iayanpahwa ,
Are you available to deliver your talk at our next meetup which is on [17th Feb](https://www.meetup.com/pydelhi/events/lvkpknyxdbwb/)?

[2018-02-05 06:58] iayanpahwa commented on #79
@rajataaron I shall be available during March. Please let me know 2 weeks prior at best possible, thanks! :)

[2018-02-05 07:07] rajataaron commented on #29
Hi @rajarahulray ,
Sorry for a delay, can you deliver your talk in our next meetup which is on 17th Feb ?

[2018-02-05 08:03] m-murad commented on #75
yes, I will be available.

[2018-02-07 06:08] rajataaron commented on #75
Ok, then I am putting you on schedule.
:)

[2018-02-07 06:10] rajataaron commented on #78
Is this proposal or Suggestion @vipulgupta2048 ?

[2018-02-07 16:41] Manas-kashyap opened #80 "Handson on Debian packaging of nodejs modules"
It will be a Hands-on to pack some small modules of nodejs for Debian, I will also cover some tools like npm2deb and other tools like lintian , and fixing some patches using Quilt .

Expected Duration
1hr to 1:30 hr

Track
ILUG-D talks are divided intro three tracks:
- Beginner

Pre-requisite
Laptop with Debian sid in the docker.
good internet connection.

[Debian_packaging.pdf](https://github.com

[2018-02-08 14:03] rajataaron commented on #62
@bhaveshAn are you available to give your talk on  17th feb.

[2018-02-08 14:05] rajataaron commented on #63
@suheb are you available to give your talk on 17th feb meetup?

[2018-02-08 14:08] rajataaron commented on #64
@yardstick17 are you available to deliver your talk on 17th Feb meetup?

[2018-02-14 06:37] igauravsehrawat opened #81 "Gotchas In Python"
- Title
Gotchas In Python

- Brief description about the content to be covered
I will be talking about potentially tricky behavior in Python code. I will be using short codes for these peculiar behavior and way to get around it. No more surprises from Python. :)

- Time required for the talk
30-40 minutes

- Link to slides / demos / any other content (if any)
http://igauravsehrawat.com/MyTalks/PyD

[2018-02-14 10:37] aktech commented on #81
@igauravsehrawat Thanks for the proposal, I have scheduled your talk for the next meetup on [17th February, 2018](https://www.meetup.com/pydelhi/events/246930622/)

[2018-02-14 10:51] igauravsehrawat commented on #81
That's great.

Thanks

[2018-02-14 14:04] m-murad commented on #75
What is the venue of the Meetup?

[2018-02-16 04:24] rajataaron commented on #75
Venue is [Fueled, Noida](https://www.google.co.in/maps/place/Fueled+Noida/@28.5800065,77.3177433,15z/data=!4m5!3m4!1s0x0:0xba21b54ac5e81201!8m2!3d28.5800065!4d77.3177433)

[2018-02-16 11:07] suheb commented on #63
@rajataaron Sorry for the late reply. Unfortunately, I won't be available tomorrow i.e. 17th Feb.

[2018-02-17 16:03] #81 closed

[2018-02-24 16:47] jatinkatyal13 opened #82 "Firebase for Android"
# Firebase for Android

**Abstract**

With smartphone becoming dominant mobile applications has become a popular way to find new ways to interact with users. Many small scale developers face scalability and performance bottleneck of their application due to lack of resources. Here Firebase comes into picture to handle all that for the developers

**About**

* Why Firebase?
    - Real-time database

[2018-02-27 16:02] tannubansal opened #83 "AWS Dynamo Nosql managed service"
- Title
 AWS Dynamo DB

- Brief description about the content to be covered
I would like to speak about Aws dynamodb, basics and why to use it.

- Time required for the talk
30-45 mins

- Link to slides / demos / any other content (if any)
Not yet

- About yourself
I am expert in AWS and running my own start up for aws consulting

- Any comments

[2018-02-27 18:21] karanjot-bhasin opened #84 "Understanding GIL Python"
- Title
Python GIL impact
- Brief description about the content to be covered
Impact of GIL ON Python concurrency and parallelism
- Time required for the talk
1 hr
- Link to slides / demos / any other content (if any)

- About yourself
4+ years in Python Developement
- Any comments

[2018-03-01 14:51] Aviral190694 commented on #79
No offence but Flash Ask is not worth putting a lot of resource in. Amazon Lambda with python are very powerful :)

[2018-03-01 16:48] fatimarafiqui opened #85 "Grafana: The Beauty of Metric Visualization"
- Title
**Grafana: The Beauty of Metric Visualization**

- Brief description of the content to be covered
Grafana is an open source server platform for metric visualization which enables to query, analyse, alert on and understand metrics no matter where the data is stored. The key takeaways for the attendees will be to understand and visualise their data more efficiently. It opens new possibilitie

[2018-03-01 18:53] iayanpahwa commented on #79
@Aviral190694 you use what works for you :)

[2018-03-02 06:32] sidagarwal04 opened #86 "Proposal: Connecting AI & IoT"
- Title: Connecting AI & IoT

- Brief description about the content to be covered: The talk will be an introduction to AI,ML,DL and how to connect AI & IoT together. The talk will cover Intel IoT architecture, AWS IoT stack, GCP IoT Core along with understanding on image recognition, image analysis and speech recognition.

- Time required for the talk: 45 minutes to 1 hour

- Link to slides / demo

[2018-03-02 09:36] aktech commented on #79
Hey @iayanpahwa Thanks for the proposal, we are looking forward to your talk. I will let you know about the possible dates soon.

[2018-03-02 09:37] aktech commented on #84
Hey @karanjot-bhasin Thanks for the proposal, we are looking forward to your talk. I will let you know about the possible dates soon.

[2018-03-02 09:53] sidagarwal04 commented on #86
Hey Amit,

Thanks for the response. I missed out on mentioning this in the proposal, I
am looking forward to have a session on 10th March at your event happening
@ Adobe, Noida. Will it be possible to accommodate this session during that
day?

Looking forward to hear from you. Please feel free to reach out to me on
+91-9675196465/+918178430309.

Thanks!

Regards,
Siddhant Agarwal
- Sent from my an

[2018-03-02 11:32] aktech commented on #83
Hey @tannubansal Thanks for the proposal, we are looking forward to your talk. I will let you know about the possible dates soon.

[2018-03-03 12:24] sunnyfixer3941 commented on #30
Can I ?

[2018-03-03 12:25] aktech commented on #30
@sunnyfixer3941 Sure, go ahead.

[2018-03-04 08:08] sourabhtk37 opened #87 "Basics: Logging in python"
- **Basics: Logging in Python**

- Will be covering logging in a python application. Discuss various techniques and methods that are available in the python logging module in the std lib. Including implementation/demo of sample application with logging.

- 45min - 1hour

- Slides : http://slides.com/tksourabh/basics-logging-in-python
- Resources: [Python logging module](https://docs.python.org/3.6

[2018-03-04 10:22] shekankode opened #88 "-Google AMP for Django"
-Google AMP for Django

- The talk will basically cover topics like What is AMP ?, How AMP works, Who is AMP for and how I implemented it with Django . The challenges developers face while making AMP pages and how to get over these and the alternate solutions for it . Django AMP tools and Problems Yet To Be Solved will be the concluding topic for the talk.

- 10-15 mins

- I am a full stack develo

[2018-03-05 10:44] rajataaron commented on #83
Hi Tanu,
As per our conversation, I am scheduling your talk for our 10th March meetup which is on International Women's Week at [Adobe](https://www.google.co.in/maps/place/Adobe+Systems+India+Pvt.+Ltd/@28.587765,77.3429021,16.75z/data=!4m13!1m7!3m6!1s0x390ce5a43173357b:0x37ffce30c87cc03f!2sNoida,+Uttar+Pradesh!3b1!8m2!3d28.5355161!4d77.3910265!3m4!1s0x0:0x8858fb4aca48b216!8m2!3d28.5890449!4d77.344

[2018-03-05 10:52] rajataaron commented on #86
Hey @sidagarwal04 ,
Sorry to tell you that we are full of slots if you want we can accommodate you at our next meetup which is on 17th March.

[2018-03-05 11:21] rajataaron commented on #85
Hello @fatimarafiqui ,
This is a very interesting talk, we will definitely looking forward to it. And please do attend our [10th March meetup on International Women's Week](https://www.facebook.com/events/295003874359186/) at [Adobe](https://www.google.co.in/maps/place/Adobe+Systems+India+Pvt.+Ltd/@28.591319,77.3393546,16z/data=!4m5!3m4!1s0x0:0x8858fb4aca48b216!8m2!3d28.5890449!4d77.3447196?hl=en)

[2018-03-05 11:56] rajataaron commented on #88
Hi @shekankode ,
This is a very interesting talk, we will definitely looking forward to it. And please do attend our [10th March meetup on International Women's Week](https://www.facebook.com/events/295003874359186/) at [Adobe](https://www.google.co.in/maps/place/Adobe+Systems+India+Pvt.+Ltd/@28.591319,77.3393546,16z/data=!4m5!3m4!1s0x0:0x8858fb4aca48b216!8m2!3d28.5890449!4d77.3447196?hl=en).

[2018-03-06 10:57] gurmanbh opened #89 "Telling stories with code"
**The premise**
The talk will cover how code can work as a tool for storytelling - whether that is collection of information, or the actual communication of it. We'll walk through examples and techniques of using a scientific and logical process such as programming, and applying to something creative like storytelling.

**Duration:** 20 mins

**Slides:** http://bit.ly/pydelhi-stories

**Who am I?*

[2018-03-06 14:18] iayanpahwa opened #90 "CodeWear (Lightning talk - IWW)"
- Title - Wearable Electronics and Fashion Technology

- Brief description about the content to be covered
When you talk about Wearable Electronics, first thing comes to mind might be a smart watch, google glass or similar gadgets, but a small subset of this growing tech field is also Fashion Technology, using LEDs on costumes and controlling them from sensors and microcontrollers for Cosplay and

[2018-03-07 07:30] sidagarwal04 commented on #86
Hey @rajataaron,
Thanks for the response. 'Will let you know my availability by end of this week for 17th March. Will that work?

[2018-03-12 04:35] rajataaron commented on #84
Hi @karanjot-bhasin are you available to deliver your talk for our next meetup which is on [17th March](https://www.meetup.com/pydelhi/events/lvkpknyxfbwb/).

[2018-03-12 04:36] rajataaron commented on #79
Hi @iayanpahwa are you available to deliver your talk on our next meetup which is on [17th March](https://www.meetup.com/pydelhi/events/lvkpknyxfbwb/).

[2018-03-12 04:39] rajataaron commented on #63
Hi @suheb are available to deliver your talk on our next meetup which is on [17th March](https://www.meetup.com/pydelhi/events/lvkpknyxfbwb/).

[2018-03-12 16:32] iayanpahwa commented on #79
@rajataaron , sorry I'm not available for this one, Maybe next month would be able to deliver this talk, thanks! :)

[2018-03-12 17:16] realslimshanky commented on #88
Hi @shekankode, would you be able to deliver this talk on [17th March Meetup](https://www.meetup.com/pydelhi/events/lvkpknyxfbwb/)?

[2018-03-12 17:18] realslimshanky commented on #87
Hi @sourabhtk37, would you be able to deliver this in form of a full session (30/45 minutes) on [17th March Meetup](https://www.meetup.com/pydelhi/events/lvkpknyxfbwb/)?

[2018-03-12 17:41] sourabhtk37 commented on #87
Sure.

[2018-03-12 19:52] realslimshanky commented on #87
Nice. Please upload your slides.

[2018-03-13 05:03] rajataaron commented on #86
Hi @sidagarwal04
Any updates on your availability for 17th March meetup?

[2018-03-13 05:12] philo-math commented on #90
Looks like an awesome talk to me. Would like to present it on our next meetup on 17th march?

[2018-03-13 05:58] #42 closed

[2018-03-13 06:19] suheb commented on #63
@rajataaron I'm available this Saturday. Hope to see you at the meetup.

[2018-03-13 08:03] CuriousLearner commented on #83
Talk has been delivered.
Closing down this issue.

[2018-03-13 08:03] #83 closed

[2018-03-13 08:26] rajataaron commented on #63
Cool I am putting you on the schedule.

[2018-03-13 08:45] rajataaron commented on #82
Hi @jatinkatyal13, are you using Python in it?

[2018-03-13 08:49] jatinkatyal13 commented on #82
@rajataaron No purely on Android with Firebase sdk.

[2018-03-13 08:49] rajataaron commented on #62
Hi @bhaveshAn are you available to deliver your talk on [17th March](https://www.meetup.com/pydelhi/events/247118303/) meetup?

[2018-03-13 08:59] rajataaron commented on #64
Hi @yardstick17 , are you available to deliver your talk on [17th March](https://www.meetup.com/pydelhi/events/lvkpknyxfbwb/) meetup?

[2018-03-13 12:35] CuriousLearner commented on #70
Do you have any updates here @abhi2898 ?

[2018-03-13 12:35] CuriousLearner commented on #65
I'm closing this because there is no description and have been opened for too long.

[2018-03-13 12:35] #65 closed

[2018-03-13 12:36] CuriousLearner commented on #40
I'm closing this one. When you're ready for the talk, please feel free to re-open this.

[2018-03-13 12:36] #40 closed

[2018-03-13 13:02] rajataaron commented on #41
@realslimshanky status on this

[2018-03-13 19:13] realslimshanky commented on #41
@rajat404 please checkout https://github.com/pydelhi/pydelhi.github.io/pull/33

[2018-03-14 19:55] sidagarwal04 commented on #86
Hey Rajat,

Somehow missed responding to this. I should be available on 17th March. Can
you share with me details regarding the meetup - venue, timings, target
audience?

Siddhant Agarwal
- Sent from my android phone

On Tue, Mar 13, 2018, 10:33 AM Rajat Saini <notifications@github.com> wrote:

[2018-03-15 06:14] rajataaron commented on #86
Sorry, to tell you that our all slots are full for 17th March meetup. Let me know your availability for 31st March meetup?
We always get an 80% of students and 20% of professional as an audience.

[2018-03-15 06:38] rajataaron commented on #82
Hi @jatinkatyal13 , Sorry for late reply, 17th March slots are full right now can I put you on 31st March meetup?

[2018-03-15 06:40] jatinkatyal13 commented on #82
@rajataaron No problem !

[2018-03-15 06:58] rajataaron commented on #90
This talk is delivered on 10th March can you please close this issue @CuriousLearner

[2018-03-15 07:53] #90 closed

[2018-03-16 05:20] #41 closed

[2018-03-16 06:55] shekankode commented on #88
Hi,
Thanks for the opportunity but  I won't be able to attend the coming meet
up in Noida on 17th March. Looking forward to deliver the talk in some
other meet up maybe , Thanks a lot again

On Mon, Mar 12, 2018 at 10:46 PM, Shashank Kumar <notifications@github.com>
wrote:

[2018-03-16 09:06] rajataaron commented on #88
Hi @shekankode ,

You can choose whichever date suits you from our schedule [here](https://www.meetup.com/pydelhi/events/). And Let us know.

Thanks.

[2018-03-16 09:28] shekankode commented on #88
Will let you know soon . Thanks :)

On Fri, Mar 16, 2018 at 2:37 PM, Rajat Saini <notifications@github.com>
wrote:

[2018-03-17 06:13] rajataaron commented on #82
Hi @jatinkatyal13 are you free today?
Is it possible for you to deliver your talk today? I know its urgent call but we got some issues today so thats why.

[2018-03-17 06:26] jatinkatyal13 commented on #82
@rajataaron I am really sorry sir but as of now I am out of town. I will be back by 22 March.

[2018-03-20 05:05] rajataaron commented on #87
@CuriousLearner can you close this issue

[2018-03-20 06:27] CuriousLearner commented on #87
@sourabhtk37 Please upload your slides so we can close this one.

[2018-03-20 10:24] sourabhtk37 commented on #87
Already uploaded the slides. See description. Closing this.

[2018-03-20 10:24] #87 closed

[2018-03-20 14:39] realslimshanky commented on #89
Hi @gurmanbh, would you be available to give a talk on this topic for a full 45 minutes session on [31st March](https://www.meetup.com/pydelhi/events/lvkpknyxfbpc/) meetup?

[2018-03-20 14:39] realslimshanky commented on #88
Hi @shekankode , would you be available to give a talk on this topic for a 30/45 minutes session on [31st March](https://www.meetup.com/pydelhi/events/lvkpknyxfbpc/) meetup?

[2018-03-20 14:40] realslimshanky commented on #86
Hi @sidagarwal04 , would you be available to give a talk on this topic for a 30/45 minutes session on [31st March](https://www.meetup.com/pydelhi/events/lvkpknyxfbpc/) meetup?

[2018-03-20 14:47] sidagarwal04 commented on #86
Hey @realslimshanky, Sure. Can we have a quick call to discuss further on this? I am available on +919675196465

[2018-03-20 15:29] gurmanbh commented on #89
Hey Shashank. I can. However, I am only available till about 3 p.m. Also,
my work is very less python and a lot more js. Would that work?

On Tue, 20 Mar 2018, 20:09 Shashank Kumar, <notifications@github.com> wrote:

[2018-03-20 16:50] thisisayush commented on #89
Hi @gurmanbh,

No Issues, we'll try to get your talk in the first available slot :) (11:30 - 12:15)

All talks are welcome, so yeah it'll be fine :)

[2018-03-20 17:42] shekankode commented on #88
What would be the location of the meetup?

On Tue, Mar 20, 2018 at 8:09 PM, Shashank Kumar <notifications@github.com>
wrote:

[2018-03-20 18:56] realslimshanky commented on #86
@sidagarwal04 you can edit out your number. We'll reach out to you in the morning.

[2018-03-20 19:00] realslimshanky commented on #88
@shekankode location is not yet confirmed. We'll update it on the [meetup page](https://www.meetup.com/pydelhi/events/247833216/) once we have a place

[2018-03-21 05:58] shekankode commented on #88
Yes sure , thanks

On Wed, Mar 21, 2018 at 12:30 AM, Shashank Kumar <notifications@github.com>
wrote:

[2018-03-21 07:21] realslimshanky commented on #86
@sidagarwal04 please add your presentation url.

[2018-03-21 12:38] rajataaron commented on #88
Venue is updated on [meetup ](https://www.meetup.com/pydelhi/events/247833216/)page you can check it now: [Srijan Technologies](https://www.google.co.in/maps/place/Srijan+Technologies/@28.6268965,77.2214494,15z/data=!4m2!3m1!1s0x0:0xd3d1b298923c285?sa=X&ved=0ahUKEwiU0cnDt_3ZAhUIMo8KHdwjAPUQ_BIIsAEwCg)

[2018-03-21 14:04] gurmanbh commented on #89
Can share the presentation url only by Saturday. Also, I need just 30 mins instead of 40. Happy to present! I'll drop you an email.

[2018-03-22 04:09] rajataaron commented on #78
@vipulgupta2048 can you change the title from Proposal to "Suggestion" so it will help us also to differentiate.

[2018-03-22 04:23] rajataaron commented on #82
Hi @jatinkatyal13 ,
Sorry for last time, last minute call is done by me. Is it possible for you to deliver a talk on 14th April meetup?

[2018-03-22 04:25] rajataaron commented on #26
Is anybody working on it @aniketmaithani ?

[2018-03-22 04:36] jatinkatyal13 commented on #82
@rajataaron sure! Let me know the details of the meetup .

[2018-03-22 08:33] realslimshanky commented on #89
Sure. :+1:

[2018-03-22 16:59] sidagarwal04 commented on #86
@realslimshanky The talk will cover AI powered Speech Recognition: Speech to text conversion on edge and cloud along with Text Analysis and AI powered Image Recognition and Image Analysis along with demos. I won't be able to share slide deck as it is proprietary content from Intel. However, you can check out github repo. The source code is available [here](https://github.com/sidagarwal04/ComputerV

[2018-03-27 06:58] realslimshanky commented on #89
@gurmanbh updates on the presentation?

[2018-03-27 07:49] gurmanbh commented on #89
Hey Shashank

Sorry I haven't had the time and probably won't find time to finish before
Thursday.

In case it helps, here is an example to give you an idea. Earlier, I have
spoken about tasks in storytelling for code and humans:
http://bit.ly/codexnews

This talk is obviously different, but will draw 2-3 of the same examples.

On Tue 27 Mar, 2018, 12:28 Shashank Kumar, <notifications@github.com>

[2018-03-27 08:06] realslimshanky commented on #89
@gurmanbh sure. Please ping when you are done with the presentation. [Here](https://www.meetup.com/pydelhi/events/lvkpknyxfbpc/)'s the schedule for 31st and you can contact Rajat or Gourav taking their numbers from the meetup page if you are facing any trouble regarding the location or any other problem. Thank :)

[2018-03-27 08:08] realslimshanky commented on #86
HI @sidagarwal04 , [Here](https://www.meetup.com/pydelhi/events/lvkpknyxfbpc/)'s the schedule for 31st and you can contact Rajat or Gourav taking their numbers from the meetup page if you are facing any trouble regarding the location or any other problem. Please acknowledge. Thanks :)

[2018-03-27 17:06] sidagarwal04 commented on #86
Hi @realslimshanky, thanks for the update. Do we have HDMI cable connection at the venue?

[2018-03-27 19:55] realslimshanky commented on #86
@rajataaron will help you out with cables.

[2018-03-30 08:25] rajataaron commented on #86
Hi @sidagarwal04 yes, we have HDMI cable at the venue.

[2018-03-30 09:07] sidagarwal04 commented on #86
Hi @rajataaron, awesome. See you tomorrow @ 10.30. :)

[2018-03-30 22:55] gurmanbh commented on #89
@realslimshanky - Here are the slides: http://bit.ly/pydelhi-stories

[2018-04-02 06:54] rajataaron commented on #89
@CuriousLearner you can close this issue now. Talk is delivered on 31st March meetup.

[2018-04-02 06:54] rajataaron commented on #86
@CuriousLearner you can close this issue as talk is delivered on 31st March event.

[2018-04-02 06:59] #89 closed

[2018-04-02 07:00] #86 closed

[2018-04-03 09:59] rajataaron commented on #79
@iayanpahwa are you available to deliver your talk on 14th April?

[2018-04-03 10:08] rajataaron commented on #14
@CuriousLearner this talk was delivered on [22 July 2017](https://www.meetup.com/pydelhi/events/238176684/) you can close this issue now.

[2018-04-03 11:14] #14 closed

[2018-04-03 19:24] ArfatSalman opened #91 "Proposal: Generators in Python"
Title
Generators in Python

Brief description about the content to be covered
I'll talk about how to use generators, and how they are a useful pattern in some cases.

Time required for the talk
30 mins

About yourself
I'm currently a Senior Web Developer at Pesto Tech. I've programmed in python and flask since the last 3 years. Open source enthusiast, and frequent blogger.

[2018-04-04 04:48] rajataaron commented on #82
@jatinkatyal13 Hi, so we have a meetup next week on 14th April at Investopad, Gurgaon it is a collaboration with ILUG-D. Are you available to deliver your talk on that day?

[2018-04-04 06:15] cosmologist10 opened #92 "Hands on Regex and it's optimization in Python"
- Hands on Regex and it's optimization in Python

- The following sections, i will be covering in my talk :
      1. Introduction of Regex and it's engine on algorithmic level
      2. Hands on regex problems using re module
      3. Cons of RE implemented in Python
      4. Overview of libraries that can solve those issues and will discuss the methods like Subroutine calls
         and recursion,

[2018-04-05 04:14] rajataaron commented on #77
@satwikkansal are you available to deliver your talk on 14th April meetup?

[2018-04-05 04:17] rajataaron commented on #70
@CuriousLearner I think we should close this issue now.

[2018-04-05 06:33] #70 closed

[2018-04-06 07:04] yugkhanna opened #93 "Proposal: I want to give a live presentation about the basics of ML in Python and my experience with it"
- Learning about ML in Python

- I will cover the basics of data science and machine learning and would give a live demo of my kaggle competition where I am ranked in the top 1.2K people out of 11K

- Approximately 20 mins

- Slides not made yet. You can check my GitHub for the code.

- I'm an Indian student studying Computer Engineering at University of Waterloo Canada and am here in India for th

[2018-04-06 07:17] yugkhanna opened #94 "Machine Learning in Python using pandas, Numpy, Keras and various libraries"
It will include a live presentation of data science examples from basics to advanced ( Numpy, Keras, Matplotlib, Seaborn, Pandas etc. ) and also machine learning concepts like Regression, Cost and Loss Functions and K-Maps ( won't give the spoilers right now)
My own Kaggle Machine Learning code ( Ranked 1100/12000 approx. ) in which I trained a data set and got upto 0.81 accuracy. I will explain t

[2018-04-06 07:30] #93 closed

[2018-04-07 15:43] satwikkansal commented on #77
@rajataaron I'm afraid it won't be possible on 14th April.

[2018-04-07 15:45] satwikkansal commented on #77
Can you please let me know the dates of next meetups? I guess it happens every alternate week, right?

[2018-04-08 13:27] rajataaron commented on #75
Hi @m-murad, are you available to deliver your talk on 14th April? The venue is Investopad, Gurugram.

[2018-04-08 14:51] satwikkansal commented on #77
Thanks, I can't make it to this one, but I'll definitely inform you at least a week before next meetup?

[2018-04-08 15:32] vsnehil92 commented on #94
Hi @yugkhanna  , would you be available to give a talk on this topic for a 30/45 minutes session on [14th April meetup](https://www.meetup.com/pydelhi/events/lvkpknyxgbsb/)?

[2018-04-08 15:44] yugkhanna commented on #94
Hi @vsnehil92 , I'm coming to India on 17th May. Any meetup after that? I have amazing stuff to share.

[2018-04-08 15:59] yugkhanna commented on #94
I can do 26th May Meetup if that's okay?

[2018-04-08 16:08] vsnehil92 commented on #94
Are you available on 12th May?

[2018-04-08 16:10] yugkhanna commented on #94
I mentioned in my proposal I'm coming to India on 17th May buddy. How can I deliver before that? I can do 26th May

[2018-04-08 16:31] rajataaron commented on #94
Hi @yugkhanna, sure we will arrange your talk according to the given date schedule by you :)

[2018-04-08 16:33] vsnehil92 commented on #94
Ok, will let you know about 26th May.

[2018-04-08 16:49] yugkhanna commented on #94
You'll have a great time with my presentation. Hyped to meet you guys

[2018-04-09 04:45] rajataaron commented on #91
Hi @ArfatSalman, are you available to deliver your talk on 14th April? The venue is Investopad, Gurgaon.

[2018-04-09 20:00] ArfatSalman commented on #91
Yes. I am available to give the talk. The time will be 11:00 AM on the Saturday, 14th?

[2018-04-10 03:46] rajataaron commented on #91
Yes you are right. If you agree then should I put you on schedule?

[2018-04-10 09:02] ArfatSalman commented on #91
Yes. I agree. I will be available on Saturday, 14th. Thanks!

[2018-04-10 15:28] #79 closed

[2018-04-11 03:37] rajataaron commented on #91
Can, I get your email ID so that we can send you an official mail?

[2018-04-11 11:27] ArfatSalman commented on #91
Yes. It is giney.paradise@gmail.com

I've connected with you on LinkedIn as well. 👍

[2018-04-13 02:10] yugkhanna commented on #94
Should I consider this as a yes and prepare for my talk on 26th May?

[2018-04-13 04:36] rajataaron commented on #94
@yugkhanna yes you can start preparing for that and we will put you on 26th may schedule in the 1st or 2nd week of May.

[2018-04-13 04:59] yugkhanna commented on #94
Perfect

[2018-04-16 08:06] #91 closed

[2018-04-17 11:02] Pradhvan commented on #77
This would be an interesting talk.

[2018-04-18 06:13] jibinmathew69 opened #95 "Deep learning/Machine Learning"
- Could speak on any of the topics stated in the title.

- I would leave it to the community to decide from any of the topics above.

- 1 hour or so

- Slides not yet done, but can do once confirmed.

- I am an AI consultant, working on AI and highly scalable Python projects, In the past, I worked as CTO and co-founder for various startups. Machine learning and Deep Learning are the areas of my in

[2018-04-18 14:05] vivekaris opened #96 "Python for Internet of Things Services"

[2018-04-19 22:26] yugkhanna commented on #94
How will you guys connect my laptop to the projector? I have a macbook pro which only has USB-C ports. Do I need to bring a converter to HDMI or something?

Also prereqs for the presentation : Keras, Numpy, Pandas. Its better if they have it installed otherwise I will guide them how to.

[2018-04-20 06:03] rajataaron commented on #94
If you have a converter HDMI to USB-C then it's awesome. Otherwise, we have to arrange it.

[2018-04-20 06:05] rajataaron commented on #94
Can you make a small documentation containing an installation of these prereqs? So we will distribute than instructions to all so, on meetup day we can start it without any installation hustle.

[2018-04-20 15:17] yugkhanna commented on #94
Sure

On Fri, Apr 20, 2018, 2:05 AM Rajat Saini <notifications@github.com> wrote:

[2018-04-20 19:41] yugkhanna commented on #94
I am attaching the documentation.

https://github.com/yugkhanna/Talk-PyDelhi/blob/master/Documentation.md

[2018-05-01 03:53] rajataaron commented on #63
Hi @suheb , can you deliver your talk at PyDelhi next meetup which is on 12th May?

[2018-05-01 03:55] rajataaron commented on #64
Hi @yardstick17 , are you available to deliver your talk on 12th May meetup?

[2018-05-01 03:57] rajataaron commented on #82
Hi @jatinkatyal13  , are you available to deliver your talk on 12th May meetup?

[2018-05-01 03:59] rajataaron commented on #75
Hi @m-murad, are you available to deliver your talk on 12th May?

[2018-05-01 06:00] jatinkatyal13 commented on #82
Sure ! Please contact me with all the details of the meetup over the night email.

[2018-05-02 11:27] rajataaron commented on #82
@jatinkatyal13 sent you the mail please check.

[2018-05-02 11:48] rajataaron commented on #84
Hi @karanjot-bhasin are you available to deliver your talk for our next meetup which is on [12th May](https://www.meetup.com/pydelhi/events/mglhqpyxhbqb/)?

[2018-05-04 15:36] suheb commented on #63
Yes, I'm available. You can put me on the schedule.

[2018-05-04 23:02] yugkhanna commented on #94
Is the documentation okay?? Can you guys arrange a usb-c to hdmi converter? I am unable to arrange it right now!?

[2018-05-06 09:55] rajataaron commented on #63
@suheb . Thanks for confirming your talk I am putting you on schedule.

[2018-05-06 10:05] rajataaron commented on #94
Yes I think documentation is good to go.
And We will try to arrange usb-c to hdmi converter and will let you know before scheduling your talk.

[2018-05-06 13:56] yugkhanna commented on #94
Thanks

On Sun, May 6, 2018, 6:05 AM Rajat Saini <notifications@github.com> wrote:

[2018-05-07 10:43] bhanuvrat opened #97 "salary, taxes and more."
## Title
Salary, taxes and managing money.

## Brief description about the content to be covered

An engineers introduction to:
Salary breakup.
Tax brackets, and what do they mean.
Legal means for saving taxes.
ITR and why it is necessary.
Savings and investment.

and a lot of things I wish I knew someone told me when I started earning.

## Time required for the talk

30 mins.

## Link to slides /

[2018-05-07 22:42] ArfatSalman opened #98 "Proposal: Basics of Functional Programming using Python"
**Title**
Functional Programming in Python
Basic concepts such as
- First Class functions
- Higher Order Functions
- Pure Functions
- No side-effects
- Recursion
- Composition and Inheritance
and more.

**Brief description about the content to be covered**
Functional Programming has gained a lot of traction in recent times. My talk would aim to establish the **basic** concepts of functional progra

[2018-05-12 06:49] vipulgupta2048 opened #99 "Keeping your Dotfiles in check with Python"
**Description**
Almost all developers spend countless hours on configuring, tweaking and micro-managing their dotfiles with an obsession to exactly have them like one wants them to be. I do too.

Dotfiles are just configuration files like .vimrc and .gitconfig on your OS, that stores the settings you have for applications/environments/tools to make life easier while giving you more portability.

W

[2018-05-12 12:50] #96 closed

[2018-05-20 20:07] satwikkansal commented on #77
Hey all, I'd love to have this session considered for upcoming meetups. Please let me know if there are slots available :)

[2018-05-22 04:31] rajataaron commented on #77
Hi @satwikkansal you can choose a slot from 9th June and 7th July which feels right for you.

[2018-05-22 04:36] rajataaron commented on #94
Hi, @yugkhanna are you available for 9th Jun to deliver your talk? As we have a new format in PyDelhi one meetup is dedicated to Talks and other is to DevSprint and on 26th May we have dev sprint session.

[2018-05-22 05:04] yugkhanna commented on #94
No issues!!

[2018-05-22 17:47] satwikkansal commented on #77
9th June works

[2018-05-24 13:43] aktech commented on #77
@satwikkansal Confirming this talk for 9th June 2018. Looking forward to it.

[2018-05-26 14:49] cosmologist10 commented on #92
Sure, I will deliver this talk in coming meetup.

[2018-05-28 03:50] rajataaron commented on #77
@satwikkansal as per the availability for 9th June I am putting you on schedule.
You can check schedule [here](https://www.meetup.com/pydelhi/events/248955397/)

[2018-05-28 11:17] satwikkansal commented on #77
Location is Gurgaon, right?

[2018-05-28 11:18] satwikkansal commented on #77
Never mind, just checked the event description, it's yet to be decided :+1:

[2018-05-30 06:27] rajataaron commented on #77
Location is not confirmed yet @satwikkansal

[2018-06-04 07:20] Abhimanyu-Khatry opened #100 "Data science, satistics and machine learning"
I wanna discuss about some real world data science projects and how all of these are connected to concepts which are taught in numerous online courses. I want a thorough discussion on this. Some suggestions to plan my journey towards these projects.

[2018-06-05 04:16] rajataaron commented on #94
@yugkhanna we are looking for a venue once we are done with it we will arrange USB-C to HDMI converter and will update you accordingly.
Can we have your email id?

[2018-06-05 04:17] yugkhanna commented on #94
yugkhanna1@gmail.com

On Tue, Jun 5, 2018, 9:46 AM Rajat Saini <notifications@github.com> wrote:

[2018-06-06 11:21] utkarsh2102 commented on #94
Hi @yugkhanna.
We have your talk planned on this Saturday, 9th June.
And the venue has been updated for the same. Details of the venue are as follows:
`Fueled Noida`
`A-20, Block A, Sector-3, Noida`
The meetup will start at 11AM. Requesting you to be on time :)
Also, please reply to this message once acknowledged.

[2018-06-06 11:23] yugkhanna commented on #94
Hey there!
Thanks for the update! As I have a MacBook Pro with only USB C , I request
you guys to arrange an adapter ( Usb c to hdmi ) if possible.

On Wed, Jun 6, 2018, 4:51 PM Utkarsh Gupta <notifications@github.com> wrote:

[2018-06-07 09:38] rajataaron commented on #94
Hi @yugkhanna we have USB-C to HDMI adapter but the projector we have uses VGA cable.
So I suggest you take backup of your presentation on the web and make notes of PDF which you show to the attendees. And the second option we have by screen sharing on other systems via Teamviewer which is connected to the projector.

[2018-06-15 07:58] vipulgupta2048 commented on #93
Hi, @yugkhanna can you please add a link to your slides for reference.

[2018-06-15 08:00] vipulgupta2048 commented on #94
@yugkhanna  Can you add a link to your slides that you made.

[2018-06-15 10:13] SKisContent opened #101 "Introduction to microservices"
Since there was no response and time is running short, I'm withdrawing the offer.

[2018-06-20 03:42] rajataaron commented on #92
@cosmologist10 are you available to deliver your talk on 7th July?

[2018-06-20 03:43] rajataaron commented on #94
@CuriousLearner you can close this issue now. The talk has been delivered successfully.

[2018-06-20 03:44] rajataaron commented on #77
@CuriousLearner now you can close this issue. The talk has been delivered successfully.

[2018-06-20 03:45] rajataaron commented on #82
@CuriousLearner you can close this issue now. The talk has been delivered successfully.

[2018-06-20 04:21] rajataaron commented on #100
Hi @Abhimanyu-Khatry please give full details of your talk so we can contact you in our upcoming meetups format for proposal is available [here](https://github.com/pydelhi/talks/issues/new).

[2018-06-20 05:08] Abhimanyu-Khatry opened #102 "Data Science Real World Project"
- Title

- Brief description about the content to be covered

- Time required for the talk

- Link to slides / demos / any other content (if any)

- About yourself

- Any comments

[2018-06-20 05:18] Abhimanyu-Khatry commented on #100
Hi sir,

Yes I've mentioned full details of the talk on the given link.

Yours sincerely,
Abhimanyu

On Wed, Jun 20, 2018 at 9:51 AM, Rajat Saini <notifications@github.com>
wrote:

[2018-06-20 17:07] #63 closed

[2018-06-20 17:07] #82 closed

[2018-06-20 17:07] #77 closed

[2018-06-20 17:07] #94 closed

[2018-06-21 04:18] vipulgupta2048 commented on #102
Hi, @Abhimanyu-Khatry. Thanks for proposing your talk at PyDelhi. We would like if you could share more details and content of the talk. Preferably through slides and what all points are you going to cover, also do tell if this is your first talk ☺️

[2018-06-21 06:09] Abhimanyu-Khatry commented on #102
Hi @vipulgupta2048 . Yes sir this is my first talk. I am going to discuss about recommendation systems. As given in this slide - https://www.slideshare.net/VikrantArya/recommendation-system-33379953.
I will also explain about what I understood about it via python ml and data analysis concepts. I will ask some queries about getting ahead in predictive analytics.

[2018-06-22 13:29] Shipra2071 opened #103 "cyber security"
- Title

- Brief description about the content to be covered

- Time required for the talk

- Link to slides / demos / any other content (if any)

- About yourself

- Any comments

[2018-06-23 11:32] shubhamdhama opened #104 "Proposal: Code clean and safe with static type checking"
# Code clean and safe with static type checking

## Abstract

One of the reasons Python is famous for is its dynamically typed behavior, but this
advantage fades away while maintaining codebase as it grows in size and when you've
to look into your code you've written months ago. This is a common problem faced by
many large organizations like dropbox, facebook, Instagram etc. which uses python at
a

[2018-06-23 11:37] shubhamdhama commented on #104
Hey, let me know if this topic interests you. My this talk is inspired by one of the core members of the zulip project who have recently given a talk related to this in PyCon Cleveland as

Also, I want to mention it would be really great if I get the opportunity to give this talk on 7th July event as I've to leave for a meetup in Kerala on 8th for a week and after that, I'd to report to college.

[2018-06-24 08:59] th3b0s5 commented on #104
@shubhamdhama I'm kinda new here, and probably will be attending the 7th July event, and I'd love to hear your talk!

[2018-06-24 10:00] Chhavnish opened #105 "Introduction to ELK Stack"
- Title: Introduction to ELK Stack

- Brief description about the content to be covered
The ELK stack consists of Elasticsearch, Logstash, and Kibana. Although they've all been built to work exceptionally well together, each one is a separate project that is driven by the open-source vendor Elastic—which itself began as an enterprise search platform vendor. It has now become a full-service analyti

[2018-06-25 09:07] shashikanth171 opened #106 "Digital Security Training"
# Title

Digital Security Training - Online Threats and Protection

# Brief description about the content to be covered

Malware is software designed to do perform unintended often malicious actions without the users’ permission. Phishing attacks collect users’ sensitive information such as usernames, passwords, location, financial information usually by disguising as trustworthy communication.

P

[2018-06-27 07:07] #101 closed

[2018-06-27 17:50] quantsbin opened #107 "Introduction to Python for Finance"
- Introduction to Python for Finance:

- This will be a beginners level tutorial with prerequisite as a basic understanding of python and familiarity with pandas data-frames.

Below is the first draft of topics that we will be covering:
Fetching stock prices from free sources using pandas API.
Data wrangling
Plotting time-series data in matplotlib and plotly.
Comparing two stock prices. (Normalisa

[2018-06-29 13:20] DeepakSahoo91 opened #108 "Talk Proposal: Setting up instant GraphQL APIs on your Postgres Database"
- Title
Setting up instant GraphQL APIs on your Postgres Database

- Brief description about the content to be covered
We have recently soft-launched the Hasura GraphQL engine. This gives you GraphQL APIs instantly on existing Postgres based application. We are also working towards open sourcing this in a few weeks.

In this talk, we'll go over the design and architecture of this high-performance,

[2018-07-02 18:31] juggernaut451 opened #109 "Learning how to learn efficiently"
## Title
Learning how to learn efficiently

## Brief description about the content to be covered
- Why is learning important for developers
- What are the different way to enhance your learning skill
- How the human body works while we learn

## Time required for the talk
30 mins

## Link to slides / demos / any other content (if any)

## About yourself

[http://juggernaut451.com](http://juggernau

[2018-07-06 15:37] nickdex opened #110 "Smart Home"
## Smart Home

### Brief description about the content to be covered
Demo of End to end system to control various devices in your home (eg fan, lights) anything that runs on 230V via interfaces -
- Voice (Natural Language via Google Assistant + DialogFlow)
- PWA (Website with native look and feel and push notifications)
- Fully Automatic (Prediction made by NN trained on presence data and notifies

[2018-07-08 11:46] virresh opened #111 "Using ANTLR with Python3 (Parse tree magic for any grammar)"
## Title
Using ANTLRv4 with Python 3 - An introduction to creating Meta-Programs

## Brief description about the content to be covered
This talk aims at introducing ANTLR for python 3, and talk about Abstract Syntax Trees and Parse Trees. It will present an overview of the process, the intricacies and will end with a concrete example to show the utility.

[ANTLRv4](http://www.antlr.org/) is a tool

[2018-07-08 20:48] vipulgupta2048 commented on #99
- Slides for the talk - [DotPython](https://slides.com/vipulgupta2048/dotpython-3/fullscreen)
- Demo Dotfiles Repository  - [DotvFiles](https://github.com/vipulgupta2048/dotvfiles)

[2018-07-12 15:57] Manas-kashyap opened #112 "Introduction to Debian packaging (Handson)"
It will be a Hands-on to pack some small modules of nodejs , python , ruby  for Debian, I will also cover some tools like npm2deb, gem2deb , git-buildpackage , dh_make , git and other tools like lintian , and fixing some patches using Quilt .

### Expected Duration
1hr to 1:30 hr

### Pre-requisite:-
 Laptop with Debian sid in the docker (if you are using Debian based OS , just do  "sudo apt insta

[2018-07-13 06:17] rajataaron commented on #99
This talk is delivered successfully on 8th July

[2018-07-13 06:17] #99 closed

[2018-07-13 06:19] rajataaron commented on #103
@Shipra2071 did you created this issue mistakenly?

[2018-07-13 06:21] rajataaron commented on #95
@jibinmathew691993 you can choose topic according to your comfort. After that we will schedule your talk accordingly.

[2018-07-13 06:49] jibinmathew691993 commented on #95
Ok, I'll take up some problem in Machine learning, in case if it's not already taken.

[2018-07-13 07:04] xssChauhan opened #113 "Proposal: Understanding Python Dataclasses"
Python 3.7 introduces new `dataclass`.

They are an important feature because they help devs save time and write cleaner code.

I shall be discussing the following:

- ### The need of dataclasses

         They have been an important of Kotlin, and one of the attractions of the language.
         So how do they benefit Python development?

- ### The working of dataclasses

         The behavior an

[2018-07-13 08:42] rajataaron commented on #106
@shashikanth171 I guess you have proposed a whole training program for digital security system.

[2018-07-13 10:11] shashikanth171 commented on #106
This training will be compact to cover common online threats and how to protect against them.

[2018-07-20 09:06] shubhamdhama commented on #104
Closing this since the proposal was shifted from 7th to 8th. Anyway, it's a great community, I'll try again. Thanks.

[2018-07-20 09:06] #104 closed

[2018-07-23 07:38] rajataaron commented on #80
@Manas-kashyap as you have opened new issue can I close this one?

[2018-07-23 11:15] anjalibhavan opened #114 "Proposal: 'Ensemble Learning: introduction, methods and applications'"
This talk covers ensemble learning, a paradigm of machine learning. Ensemble learning consists of combining multiple learning models for predictions, and is a popular method for predictions and analysis. I will go through the various kinds of ensemble methods and applications in various real-world problems, and also share tips and resources for building and deploying good ensembles.
I will discuss

[2018-07-24 05:44] #80 closed

[2018-07-24 05:48] #103 closed

[2018-07-24 07:45] Shipra2071 commented on #103
Actually, Sir I was created it As,it is a big issue nowadays but as I am
persuing Btech and I am in 3rd year so I was busy in my college work and I
was unable to continue that .
I am very very sorry for that.

On Fri, 13 Jul 2018, 11:49 a.m. Rajat Saini, <notifications@github.com>
wrote:

[2018-07-24 10:43] rajataaron commented on #109
@juggernaut451 are you available to deliver your talk on 4th August meetup?

[2018-07-24 11:08] juggernaut451 commented on #109
yes

[2018-08-05 17:59] Anushree1997 opened #115 "python"
- Title

- Brief description about the content to be covered

- Time required for the talk

- Link to slides / demos / any other content (if any)

- About yourself

- Any comments

[2018-08-06 05:05] rajataaron commented on #109
This talk has been delivered successfully. I am closing this issue.

[2018-08-06 05:05] #109 closed

[2018-08-09 17:46] RoyMachineLearning opened #116 "Machine Learning Hands-on Workshop : Titanic Survival using Scikit Learn in Python"
Title : Machine Learning Hands-on Workshop : Titanic Survival using Scikit Learn in Python

Brief description about the content to be covered

The purpose of this workshop is to attract Python users towards machine learning.  In this session, we will walk through the typical process of developing a Machine Learning model from scratch. From data preparation, feature selection, parameter tuning, to

[2018-08-14 19:40] GauravJain98 opened #117 "How to make a CRUD REST API in 20 mins"
- Title: How to make a CRUD REST API in 20 mins

- Explaining what REST API is. Types of requests needed to make a CRUD application. How to work that on Django REST API using with the raw implementation of JsonResponse.The need for serializers for SQL DB. How to use DjangoRESTFramework's modelserializer and modelviewset.

- 30-40 mins

- [Slides ](https://docs.google.com/presentation/d/12li0tnQIH-

[2018-08-17 18:50] s-kustm opened #118 "Cross-Origin Resource Sharing (CORS) Misconfiguration Issue."
### Title:
 Cross-Origin Resource Sharing (CORS) Misconfiguration Issue.

### Brief description of the content to be covered:
1. In this talk, I will include the report of the CORS (Bug).
2. Background of CORS.
3. Remediation of CORS.
4. Different states of CORS.
5. How to find the CORS.
6. Exploit the CORS.

### The time required for the talk:
30 Min.

### Link to slides/demos / any other content

[2018-08-24 08:05] dusual opened #119 "Proposal: django on day 500"
All web developers who use python have come across django. It is both hated and loved to varying degrees. But what about day 500. What happens when you have a team of 15 people developing and 5 teams talking to the django application. What kind of baggage does django bring for day 500th. What kind of things it solves for the day 500.

Some of the points we shall talk about?

What kind questions do

[2018-08-24 10:15] rajataaron commented on #85
Hello @fatimarafiqui
Are you available to deliver your talk on our upcoming meetup which is on 1st Sept at E2E Networks, Sarita Vihar?

[2018-08-27 06:31] Gouravchawla commented on #113
Hi. Are you available to deliver the talk on 1st September meetup?
Reply ASAP(preferably by EOD today).

Location: E2E Newtworks Limited
24, Awfis, A, 9, Mathura Rd, Mohan Cooperative Industrial Estate, · Delhi

[2018-08-27 06:46] Gouravchawla commented on #119
Hi. We are confirming your talk and updating on our schedule. Please, let us know if there are any updates from your side. And it would be helpful if you could update the talk duration, link to slides(if any) and your bio(few lines would do) ASAP.

[2018-08-27 06:49] Gouravchawla commented on #118
Hi. Are you available to deliver the talk on 1st September meetup?
Reply ASAP(preferably by EOD today).

Location: E2E Newtworks Limited
24, Awfis, A, 9, Mathura Rd, Mohan Cooperative Industrial Estate, · Delhi

[2018-08-27 07:14] s-kustm commented on #118
Yes, I am available on that day, please share the time of the meetup and the list of speakers and what will be my position in that.

Please call me once on my no: 7065509431

Regards.
Subodh Kumar.

[2018-08-27 08:31] xssChauhan commented on #113
I'm not in Delhi from 1st - 9th. Can do it on the next meeting.

[2018-08-28 13:16] Gouravchawla commented on #117
Hi. Are you available to deliver the talk on 1st September meetup?
Reply ASAP(preferably by EOD today).

Location: E2E Newtworks Limited
24, Awfis, A, 9, Mathura Rd, Mohan Cooperative Industrial Estate, · Delhi

[2018-08-28 14:10] GauravJain98 commented on #117
Yes I am

[2018-08-31 11:57] GauravJain98 commented on #117
I will link everything here

[2018-09-01 07:30] GauravJain98 commented on #117
Added the slides

[2018-09-01 17:47] akshayaurora commented on #119
@dusual could you please update this issue with your slides.

[2018-09-01 17:48] #119 closed

[2018-09-01 17:48] akshayaurora commented on #119
Delivered on 1st Sept 2018 @ E2ENetworks

[2018-09-01 17:49] akshayaurora commented on #117
Delivered on 1st Sept 2018 @ E2ENetworks

[2018-09-01 17:49] #117 closed

[2018-09-01 20:09] Praneet460 opened #121 "Title - Data Visualization Using Matplotlib and Seaborn"
- Title

- Brief description about the content to be covered

- Time required for the talk

- Link to slides / demos / any other content (if any)

- About yourself

- Any comments

[2018-09-15 07:57] #105 closed

[2018-09-19 05:47] aaqaishtyaq commented on #118
Hi. Are you available to deliver the talk on 29th September meetup?

[2018-09-19 05:48] aaqaishtyaq commented on #113
Hi. Are you available to deliver the talk on 29th September meetup?

[2018-09-19 05:48] aaqaishtyaq commented on #114
Hi. Are you available to deliver the talk on 29th September meetup?

[2018-09-19 16:59] s-kustm commented on #118
Sorry, Aaqaishtyaq I have planned a trip to outstation on that day.

[2018-09-19 16:59] #118 closed

[2018-09-20 03:19] aaqaishtyaq commented on #116
Hi. Are you available to deliver the talk on 29th September meetup?

[2018-09-20 06:02] aaqaishtyaq commented on #108
Hi. Are you available to deliver the talk on 29th September meetup?

[2018-09-20 13:08] RoyMachineLearning commented on #116
Hi,

Thanks for the message. I won’t be present in India for 29th September. I will be visiting between 5th October to 20th October 2018.

Thanks
Ashish

From: Aaqa Ishtyaq [mailto:notifications@github.com]
Sent: September-19-18 11:19 PM
To: pydelhi/talks
Cc: Roy Gupta; Author
Subject: Re: [pydelhi/talks] Proposal : Machine Learning Hands-on Workshop : Titanic Survival using Scikit Learn in Python

[2018-09-20 15:03] aaqaishtyaq commented on #121
Hi. Are you available to deliver the talk on 29th September meetup?

[2018-09-20 18:17] Praneet460 commented on #121
Yes, I am.

[2018-09-22 06:27] aaqaishtyaq commented on #116
Okay, I'll let you know if there are any meetup schedule between 5th - 20th October.

[2018-09-22 06:31] aaqaishtyaq commented on #121
Hi @Praneet460.
Thank you for coming up.
I'm confirming your talk/workshop for ```29th Sept 2018```.
Let me know if you have requirements from our side :)

[2018-09-23 20:39] Praneet460 commented on #121
Thank you.
Send me the details for the venue along with the timings.

[2018-09-24 05:47] anjalibhavan commented on #114
Hi! No, unfortunately I have exams around that time so. I'll be free in October.

[2018-09-24 07:38] vishalsangwan opened #140 "Proposal: Face recognition and tracking with python opencv"
**title: opencv, python and raspberry pi**

**Topics to be covered**
Basic operations with opencv and python.
object recognition and tracking.
moving pan tilt servo motors accordingly.

link to demo-https://photos.app.goo.gl/A71d6fex2SdX777j9
i have added some more fun things in the project, which are not shown in demo.

for any comments or queries- 8950888797,vishalsangwan10@gmail.com

[2018-09-24 07:55] aaqaishtyaq commented on #140
Hi @vishalsangwan.
I'm confirming your talk/workshop for ```29th Sept 2018```.
Let me know if you have requirements from our side :)

[2018-09-24 07:57] aaqaishtyaq commented on #121
Tentative location is ```Srijan Technologies``` CP.

[2018-09-24 07:57] aaqaishtyaq commented on #114
Okay

[2018-09-24 08:00] #114 closed

[2018-09-30 05:13] vishalsangwan commented on #140
Hello,

I have shared the link on both the telegram channel and in the comments of
meetup page.

Regards
Vishal sangwan

On Sun, Sep 30, 2018, 8:51 AM ayushkarn739 <notifications@github.com> wrote:

[2018-10-02 14:27] vishalsangwan commented on #140
https://github.com/vishalsangwan/Opencv-object-recognition-and-tracking.git

[2018-10-02 14:32] aaqaishtyaq commented on #140
Thank you for the talk.

[2018-10-02 14:32] #140 closed

[2018-10-14 04:04] Praneet460 opened #142 "Get Started with TensorFlow"
- Title
   Get Started with TensorFlow

- Brief description about the content to be covered
   Cover the topics to help students get started with writing their own machine learning programs.

- Prerequisites & reading material (Distributed before the session)
   Little bit knowledge about Python is enough.

- Time required for the talk
   1 hr.
- Link to slides / demos
   [Click Here](https://gith

[2018-10-14 08:49] harshit08173 opened #143 "Proposal for talk on NLG"
- natural language generation

- various methods used in deep learning for generating text (RNN,LSTM , Attention Mechanism etc)

- Prerequisites & reading material (Distributed before the session)

- 20 mins

- Link to slides / demos

- About yourself (Please include social media links, twitter, facebook)

- 27th October 2018 after 12 pm

- Any comments

[2018-10-15 11:59] AasimMK opened #144 "Proposal: IoT Intro + Realtime Sensor Data Monitoring on Web/Mobile App"
- Title: IoT Intro + Real-time Sensor Data Monitoring on Web/Mobile App

- Brief description about the content to be covered:
1. What is IoT?
2. Modes of Communication in IoT.
3. Communication Protocols.
4. Live demo.

- Prerequisites & reading material (Distributed before the session): NONE

- Time required for the talk: ~20minutes

- About yourself:
Linkedin: https://www.linkedin.com/in/aasim-mk

[2018-10-16 03:00] aaqaishtyaq commented on #84
Hi @karanjot-bhasin are you available to deliver your talk for our next meetup which is on 27th Oct

[2018-10-16 03:04] aaqaishtyaq commented on #88
Hi @shekankode are you available to deliver your talk for our next meetup which is on 27th Oct?

[2018-10-16 04:27] nickdex commented on #110
I ll try to come but with Gurgaon/Noida locations, I can't say for sure. May be put me up as back up speaker?

[2018-10-16 04:29] rajataaron commented on #143
Hi @harshit08173 can you please add slides of your talk so that we can freeze your session for the upcoming meetup.

[2018-10-16 05:39] harshit08173 commented on #143
Sure.

On Tue, Oct 16, 2018, 10:00 Rajat Saini <notifications@github.com> wrote:

[2018-10-16 16:00] AasimMK commented on #144
Yeah, I am available.

[2018-10-17 12:33] rajataaron commented on #144
So adding you to the schedule.

[2018-10-17 19:53] AasimMK commented on #144
Great! Thank You.

[2018-10-19 14:36] ttanay opened #145 "Proposal: REST in peace with hug"
- **Title**: REST in peace with Hug

- **Brief description about the content to be covered**:
        hug is a framework that aims to make developing Python driven APIs as simple as possible, but no
        simpler. As a result, it drastically simplifies Python API development.

- **Time required for the talk**: 20 mins

- About yourself (Please include social media links, twitter, facebook):

[2018-10-22 04:57] rajataaron commented on #143
@harshit08173 we are setting up your talk for our upcoming 27th meetup are you available to deliver your talk?

[2018-10-22 06:15] rajataaron commented on #98
Hi @ArfatSalman we are having our next meetup on upcoming Saturday which is on 27th Oct are you available to deliver your talk the venue is Grofer HQ, Gurgaon?

[2018-10-22 06:30] #92 closed

[2018-10-22 09:58] cosmologist10 opened #146 "Lost in Mathematical Constant(e), Python to rescue"
- Lost in Mathematical Constant(e), Python to rescue

- Topics :
1. Origination and concept of Forefathers of Calculus(e).
2. Calculation of value of e, and it's visualization using Python.
3. Visualizing patterns originated from e.
4. Euler's formula calculation and its visualization.
5. Power of e.

- Prerequisites & reading material: Basic Python and Calculus.

-20-30 minutes

- Will be updated

[2018-10-22 10:15] cosmologist10 opened #147 "Proposal : Lost in Mathematical constant(e), Python to rescue"
- Title : Lost in Mathematical constant(e), Python to rescue

- Content :
1.  Origination and concept of Forefathers of the Calculus.
2. Calculation of value of e
3. Comparing the code complexity of my version of the code with math.e
4. Visualizing the patterns originated from e.
5. Calculating and Visualising the formula containing all mathematical constants.
6. Determining power and future of e.

[2018-10-22 16:30] harshit08173 commented on #143
Yes , I'm available .

On Mon, Oct 22, 2018, 10:37 Rajat Saini <notifications@github.com> wrote:

[2018-10-23 04:00] rajataaron commented on #98
Cool @ArfatSalman, I am putting you on the schedule details are available [here](https://www.meetup.com/pydelhi/events/dpbdcqyxnbkc/).

[2018-10-23 04:03] rajataaron commented on #147
Adding your talk on schedule details are [here](https://www.meetup.com/pydelhi/events/dpbdcqyxnbkc/).

[2018-10-23 04:16] rajataaron commented on #143
Schedule is up please check it [here](https://www.meetup.com/pydelhi/events/dpbdcqyxnbkc/).

[2018-10-23 04:16] rajataaron commented on #144
Schedule is up you can view details [here](https://www.meetup.com/pydelhi/events/dpbdcqyxnbkc/).

[2018-10-25 11:35] gaurav5570 opened #148 "Proposal for upcoming meetup venue"
Hello Team,
. I would like request you to explore Broctagon Fintech Group as a meetup partner for accommodating your future meetups at Noida Sector-62.
Let me take you through a quick introduction about who we are and what we do?
We are a budding startup that is in growing phase. It is a fin-tech conglomerate with core competencies in 360° FinTech solutions as well as corporate consulting services

[2018-10-26 09:13] aaqaishtyaq commented on #148
HI @gaurav5570, thank for support to PyDelhi for the venue and raising an issue for same.
You need to open the issue in this [repository](https://github.com/pydelhi/venue/issues/new)

[2018-11-11 16:02] Thedijje opened #149 "Proposal: Talk-workshop : Getting started with web-scraping in python"
# web-scraping

Web-scraping is one of commonly used utility of python and are being used in various ways and for various purpose.
Web-scraping involved getting content of web page through given URL and digging out data what we need or decided to get from.
Unlike small stuff, web-scraping is used for huge automated collection of data, which can be stored in file/database or just view like we will

[2018-11-17 06:12] aaqaishtyaq commented on #145
Hi @ttanay
Are you available to deliver the talk on Nov 24?

[2018-11-18 06:57] Aishwarey commented on #149
Will you be available on 24th november for the talk?

[2018-11-18 06:59] Aishwarey commented on #142
Hey, will you be available for 24th November meetup for the talk?

[2018-11-18 07:05] Aishwarey commented on #107
Hey @quantsbin, will you be available for the above mentioned talk on 24 th November?

[2018-11-18 08:12] ttanay commented on #145
Yes. Also, can I host you at SocialCops HQ?

[2018-11-18 08:47] AliSattarBarani opened #150 "How to build a real mobile app in kivy"
<description>

[2018-11-18 11:40] Thedijje commented on #149
Yes ofcourse i will be, should I start working on it.

[2018-11-19 05:10] shreybatra opened #151 "PROPOSAL: HandsOnWorkshop - Google Protocol Buffers in Flask"
# Google Protocol Buffers in Flask (Handson)

## Description -
Intro to Protobuf basics and how to use them in Python (in flask).

## Pre Requisites -
Only knowledge of basic python and Flask (not necessarily)

## Time required -
HandsOn Session, Full time track on devsprint?

## About myself
Currently a final year CSE student at JIIT. Working in full stack open source and data science. Links
Link

[2018-11-19 07:32] Praneet460 commented on #142
Sorry, @Aishwarey I will not be available for 24th November meetup.  But I will surely try in the next one.  Please let me know

[2018-11-19 11:21] rajataaron commented on #145
@ttanay That would be really helpful if you can help us with venue.

[2018-11-19 16:54] rajataaron commented on #145
@ttanay please initiate the process and share your email id with me so i can send formal mail to Social Cop

[2018-11-19 17:01] ttanay commented on #145
@rajataaron My email is tanay.t@socialcops.com.

[2018-11-20 04:16] #112 closed

[2018-11-20 07:06] Aishwarey commented on #149
Yes @thedijje

[2018-11-20 07:20] Aishwarey commented on #142
no problem :)

[2018-11-20 11:46] rajataaron commented on #145
Hi @ttanay sent you the mail please revert whenever you got time.

[2018-11-20 13:38] ttanay commented on #145
@rajataaron Great! I talked with the team here as well. So, PyDelhi at SocialCops on 24th Nov!

[2018-11-20 16:21] aaqaishtyaq commented on #150
Hi @AliSattarBarani,
Are you available to give the talk on Nov 24th [meetup](https://www.meetup.com/pydelhi/events/tcpblqyxpbgc/)

[2018-11-22 07:20] rajataaron commented on #145
Thanks, @ttanay for your help. See you soon.

[2018-11-30 14:20] Thedijje opened #152 "Create serverless SMS gateway using microservice"
# Create serverless microservice SMS gateway using lambda + Python

We will be using AWS architecture to create serverless microservices for sending SMS from Web.
We will be covering following topics in it
- AWS basic introduction
- Basic introduction of microservices
- IAM users and permissions
- API gateway
- Lambda function
- Using AWS SDK in python using Lambda function

## Prerequisites & rea

[2018-12-03 10:47] #145 closed

[2018-12-03 15:24] ckalpit opened #153 "TALK PROPOSAL: Become a Pro user of PyCharm or any other Jet Brains IDEs"
- Become a Pro user of PyCharm or any other Jet Brains IDEs

To share with you the things that I am using to boost my productivity in PyCharm, keep in mind that most of those will work across any Jet Brains IDEs.

1. Introduction to PyCharm
2. Basic shortcuts which is helpfull in daily usage
3. Shortcuts that'll help while coding and reduce mouse usage
4. Lesser known PyCharm's functionalities
5.

[2018-12-12 14:30] susheelkumardwivedi opened #154 "Hands on Numpy"
Hands on Numpy and it's uses in different framework in Python

**The following sections, i will be covering in my talk :**
1. Introduction of Numpy and compare it with python built-in list
2. Hands on Numpy functions
3. Prons of Numpy

**Duration:**
45 to 60 mins

**About Me:**
I am a Software Developer at Nagarro Software Pvt Ltd and python enthusiastic.

**Skills requires:**
The audience should

[2018-12-14 16:39] im-gozmit commented on #153
Hey @ckalpit , Thanks for proposing your talk.
Actually, we had a DevSprint on 08 December, not a talk meetup so are you available to deliver your talk on 22nd December?

[2018-12-14 16:42] im-gozmit commented on #150
Hi @AliSattarBarani , kindly update the description of the issue.
Whether you want to take a session or you want to learn this?
If you want to deliver the talk, please update the rest of the details.

[2018-12-14 16:43] im-gozmit commented on #142
Hey @Praneet460, are you available to deliver your session on 22nd December?

[2018-12-14 16:44] im-gozmit commented on #116
Hey @RoyMachineLearning, Are you available to deliver your talk on 22nd December?

[2018-12-14 16:45] im-gozmit commented on #113
Hey @xssChauhan.
Are you available to deliver your talk on 22nd December meetup?

[2018-12-14 16:47] Praneet460 commented on #142
I will be giving a session on data visualization at Pydata on the same day.  So better luck next time.

[2018-12-14 16:49] im-gozmit commented on #142
No problem 👍 .

[2018-12-14 17:30] susheelkumardwivedi commented on #154
Hey @mayank
It's honor to me you give me chance to talk. Yes i'm available to deliver
my session at 22 December

On Fri, Dec 14, 2018, 10:07 PM Mayank <notifications@github.com wrote:

[2018-12-14 20:20] im-gozmit commented on #154
Okay, I am confirming your talk.
Venue: Broctagon solutions,
6th Floor Tower A, Green Boulevard, B – Block Sector 62, Noida, Delhi.
Please provide your email id 😄

[2018-12-15 09:36] xssChauhan commented on #113
Yup, I'll be available.

[2018-12-16 07:38] xssChauhan commented on #113
@im-gozmit Any updates?

[2018-12-16 17:55] RoyMachineLearning commented on #116
hi @im-gozmit, I am currently working in Toronto, I will let you know about my next visit.

[2018-12-17 05:51] aaqaishtyaq commented on #152
@Thedijje Thank you for your talk.

[2018-12-17 05:51] #152 closed

[2018-12-17 05:52] aaqaishtyaq commented on #149
Hi @Thedijje, Thank you for your talk.

[2018-12-17 05:52] #149 closed

[2018-12-17 06:06] aaqaishtyaq commented on #113
Hi @xssChauhan, Your talk has been scheduled for our upcoming meetup on 22nd December.
Venue: Broctagon Solutions,
6th Floor Tower A, Green Boulevard, B – Block Sector 62, Noida, Delhi.

[2018-12-17 17:38] shahbaz17 opened #155 "Proposal: Securing your Django and Flask APIs with JWT"
**Talk Description**
The APIs keeps changing and the frameworks like Django and Flask are shifting the paradigm of API consumption. We often dedicate a lot of time in crafting powerful APIs but overlook proper security measures. Setting up an authentication layer is, without a doubt, one of the most challenging yet necessary tasks within any web application. Not only does the application in questi

[2019-01-07 17:35] bhanuvrat opened #156 "How to not be creepy and behave properly with people other than men."
- Title

How to not be creepy and behave properly with people who are not "men".

- Brief description about the content to be covered

With the growing size of the community, we have started facing the challenge of sexual harassment. This needs gradual change and education to the men of the community to prevent a disaster in the long run.

- Prerequisites & reading material (Distributed before the

[2019-01-12 01:03] dineshkaushal opened #157 "Designing software for more users such as people with disabilities"
I propose a talk about how developers could make their software usable for persons with disabilities. Making software usable for persons with disabilities could benefit many users which is around 20 to 60 percent of the population depending on how we look at it.

I am a lead developer for NVDA in India. NVDA is an open source screen reader that lets persons with blindness access computer without a

[2019-01-18 03:53] #154 closed

[2019-01-18 03:54] #113 closed

[2019-02-06 04:46] rajataaron commented on #95
Hi @jibinmathew691993 are you available to deliver your talk on 16th Feb at Grofers, Gurgaon on ML or Data Science or Deep Learning?

[2019-02-06 06:41] jibinmathew691993 commented on #95
@rajataaron I am not available on 16th Feb.

[2019-02-06 06:57] shreybatra commented on #95
Hii @rajataaron, i could deliver the lecture on ML / Flask + mongo on 16th. If you want.

[2019-02-07 13:43] ayonroy2000 opened #158 "Proposal : What Actually is Machine Learning & How to Get Started ?"
- What Actually is Machine Learning & How to get started?

- In this talk, the attendees will be made to :

1. Understand what actually is machine learning, where machine learning is used and how it is used.
2. Understand which tools are being used for applying machine learning in a day to day life application.
3. They will get to know the advancements that are currently undergoing in the domain o

[2019-02-09 06:15] ayonroy2000 commented on #158
Updated the timings, and agenda of the talk !!

[2019-02-10 06:21] im-gozmit commented on #158
Thanks for proposing your talk.
Are you available to deliver your talk on 16th February?
Venue : Grofers Gurugram

[2019-02-10 16:52] ayonroy2000 commented on #158
Yes , I will be available to deliver my talk on 16th of February , 2019 at Grofers, Gurugram !! Looking forward for a worth learning experience !!

[2019-02-10 22:05] realslimshanky commented on #158
Thanks @ayonroy2000, please share your contact detail on abc@shanky.xyz or on telegram using 'realslimshanky' username.

[2019-02-11 04:07] aditya1501 commented on #158
I am in second year pursuing btech in case and I have no idea what is machine learning.@aynoroy. is there any prebooking for talk or registration online

[2019-02-11 10:58] ayonroy2000 commented on #158
Would be very happy to have you as an attendee at the PyDelhi Meetup . For registration , RSVP at https://www.meetup.com/pydelhi/events/258753170/ .

[2019-02-11 11:30] brute4s99 opened #159 "ML Under the hood"
- Title
  ML-Under The Hood
- Brief description about the content to be covered
  an explanation of how machine learning is implemented, focusing on the Mathematics behind.
- Prerequisites & reading material (Distributed before the session)
  to be uploaded by today
- Time required for the talk
  50 minutes
- Link to slides / demos
  to be uploaded
- About yourself (Please include social media lin

[2019-02-12 04:31] rajataaron commented on #159
Hi @brute4s99, Thanks for creating your proposal for a talk. As per your availability, we are putting you on the schedule.

[2019-02-14 18:45] karx opened #160 "Proposal: Wikidata - Largest Crowd sources Knowledge Graph"
### Title
Wikidata - Largest Crowd sources Knowledge Graph

### Brief description about the content to be covered
There is huge pool of clean, categorized, context-rich data on the web, any ML engineer's dream

* We will first discuss what is an Knowledge Base/Knowledge Graph
* Technology used/basic underlying components
* Introduction to Wikidata - A Data repository
* SPARQL - A query language fo

[2019-02-19 06:11] rajataaron commented on #158
This talk is delivered on 16th Feb meetup.

[2019-02-19 06:11] #158 closed

[2019-02-19 06:12] rajataaron commented on #159
This talk was delivered on 16th Feb meetup at Grofers.

[2019-02-19 06:12] #159 closed

[2019-02-26 06:53] harshsrigh opened #161 "Proposal: Automating with Selenium using Python"
Selenium is a great tool to automate functional tests on websites and Web applications.

[2019-02-28 06:26] rajataaron commented on #155
Hi @shahbaz17 ,
Now when you will be available again in Delhi. Please let us know so we can schedule your talk accordingly.

Thanks,

[2019-02-28 06:29] rajataaron commented on #111
Hi @virresh ,

Are you available to deliver your talk on 23rd March, Venue for the vent is not finalized yet. But we will lock down venue latest by 12 March.

[2019-03-02 10:46] raunaqness opened #162 "Proposal : Sharing a single GPU across a Kubernetes Cluster"
- Title

- Brief description about the content to be covered

- Prerequisites & reading material (Distributed before the session)

- Time required for the talk

- Link to slides / demos

- About yourself (Please include social media links, twitter, facebook)

- Availability (When would you be able to give the talk?)

- Any comments

[2019-03-02 12:33] virresh commented on #111
Hi @rajataaron,
The talk was delivered on [23nd December](https://twitter.com/PyDelhi/status/1076345696964341760) :sweat_smile:

Unfortunately, I will not be able to give this talk again on 23rd March.
Though here are the slides that I used for the session: https://virresh.github.io/web/viewer.html?file=ANTLRPy3.pdf , in case someone else would like to take it up further.
Thanks for the opportunit

[2019-03-04 04:02] rajataaron commented on #111
Ohh Sorry for the confussion. So I am closing this issue for now.

Thanks for letting me know. :)

[2019-03-04 04:02] #111 closed

[2019-03-04 04:05] rajataaron commented on #75
Hi @m-murad are you available to deliver your talk on 23rd March meetup?

[2019-03-04 04:06] #76 closed

[2019-03-04 04:08] rajataaron commented on #84
Due to no communication with the speaker we are closing this issue. In case of @karanjot-bhasin you want to deliver your talk at the meetup please create issue again.

Thanks,

[2019-03-04 04:08] #84 closed

[2019-03-04 04:11] rajataaron commented on #62
Due to no communication with the speaker we are closing this issue. In case @bhaveshAn you want to deliver your talk at the meetup you can create your issue again. :)

Thanks,

[2019-03-04 04:11] #62 closed

[2019-03-04 04:13] rajataaron commented on #85
Hi @fatimarafiqui ,

Are you available to deliver your talk on your upcoming meetup which is on 23rd of March?

[2019-03-04 04:15] rajataaron commented on #95
Hi @jibinmathew691993,

Are you available to deliver your talk at our upcoming meetup which is on 23rd March?

[2019-03-04 04:16] rajataaron commented on #95
@jibinmathew691993 can you update this issue with proper talk details or else you can create a new issue for the same with proper talk details it will help us to know on what you are going to talk.

Thanks,

[2019-03-04 04:43] jibinmathew691993 commented on #95
Sure, I have updated the issue, I'd be happy to speak on Deep Learning, Are all the talks situated in Gurgaon, It's way too far for me to reach, Do you have a location close to Delhi Noida?

[2019-03-04 06:17] m-murad commented on #75
I have moved out of the city, Closing this.

[2019-03-04 06:17] #75 closed

[2019-03-05 06:08] rajataaron commented on #95
We usually do a meetup in Delhi-NCR. And this time we are trying to get a venue in Delhi only. I will update you about the venue before the end of this week.

[2019-03-06 04:52] rajataaron commented on #161
@harshsrigh can you please give a brief description of your talk. You can see the full format when you create a new issue.

[2019-03-06 04:53] rajataaron commented on #162
Hi, @raunaqness can you please give a brief description and other details about your talk. It seems you haven't filled the form correctly.

Thanks,

[2019-03-08 19:45] s-kustm opened #163 "Hands On The great web application testing tool "Burp Suite""
- Title
Hands On The great web application testing tool "Burp Suite."

- The brief description of the content to be covered
All the basic available options will be cover in this session including
a.	Introduction.
b.	Proxy.
c.	Repeater.
d.     Comparer.
e.     Extender
f.      Spidering/crawling.
g.	Intruder.
h.	Decoder and
i.	Addon.

- Prerequisites & reading material (Distributed before the sessi

[2019-03-21 18:53] iAyon opened #164 "Proposal : An Introduction To Computer Vision"
-  An Introduction to Computer Vision

- In this talk, the attendees will  :

1 ) Get an introduction to Computer Vision & how it is being used in our daily lives.
2 ) Understand which tools are being currently used for applying computer vision in a day to day life applications.
3 ) Get knowledge about what actually happens while we execute our very basic codes to implement Computer Vision .
4 ) B

[2019-03-22 06:22] Thedijje opened #165 "Optimising APIs for consumer with GraphQL"
# Optimising APIs for the consumer with GraphQL

GraphQL is a very efficient way of communication with the server with the client-first approach. Backend won't have to design and provide structure/URLs for the data they need. Now Front-end can make costume queries and keep their requirement fit as exact, none less, not more.

## Prerequisites & reading material
Basic knowledge of Rest APIs and wor

[2019-05-05 11:50] anjalibhavan opened #167 "Creating your first Telegram bot"
- Title
Creating your first Telegram bot

- Brief description about the content to be covered
Building your first bot can be a trying experience fraught with confusion about the many resources that abound for building bots. This talk will aim to demystify the process of building a simpleTelegram bot with a hands-on tutorial as well.

- Prerequisites & reading material (Distributed before the sessi

[2019-05-24 16:12] ayonroy2000 commented on #164
@vipulgupta2048 any updates bhaiya ?

[2019-05-24 16:20] vipulgupta2048 commented on #164
Hey @ayonroy2000, as and when the next meetup happens the talks team will get back to you ASAP. Thanks,

[2019-06-04 08:04] akshayaurora commented on #160
@karx would you be available to give a talk on the community slot @Drupal Camp, in JNU Convention centre representing PyDlehi Community ? The event a open source event, does not charge anything from attendees.  PyDelhi along with other communities like ILUG-D, Blockchain Devs & Distributed systems  & others get's slots in this event.

Date: 15th June time would be between 11 am to 5 pm.

[2019-06-04 08:04] akshayaurora commented on #162
@raunaqness would you be available to give a talk on the community slot @drupal Camp, in JNU Convention centre representing PyDlehi Community ? The event a open source event, does not charge anything from attendees. PyDelhi along with other communities like ILUG-D, Blockchain Devs & Distributed systems & others get's slots in this event.

Date: 15th June time would be between 11 am to 5 pm.

[2019-06-04 11:23] karx commented on #160
@akshayaurora
That sound like an amazing opportunity to talk about Wikidata!
Would love to be there and represent PyDelhi Community.

[2019-06-10 11:09] akshayaurora commented on #160
@karx the date fo the slot given to PyDelhi is on 16th June hope that is ok for you.

[2019-06-10 11:30] akshayaurora commented on #160
@karx if you can forward me the timing for the talk to be put up on the schedule that would help a lot.

[2019-06-10 11:34] akshayaurora commented on #151
@shreybatra would you be available to take this workshop on 16th June in Drupal camp for the slot given to PyDelhi?

[2019-06-10 12:15] karx commented on #160
@akshayaurora 16th June works!
Timing for the talk? Do you mean which part of the day we schedule it? Let me know how I can help

[2019-06-10 12:17] akshayaurora commented on #160
@karx would you need 40 minutes ,  more or less slots in the event for a talk are usually 40 minutes
would be great if you could adjust your talk t be delivered in that period.

[2019-06-10 12:19] harshalofic opened #169 "Automating Computer Vision to detect any Object"

[2019-06-10 12:26] harshalofic commented on #169
Talk has been postponed :D

[2019-06-12 01:24] realslimshanky commented on #167
Thank you @anjalibhavan for submitting the proposal. We'll get back to you when we have a slot that fits this proposal. Meanwhile, stay updated about [PyDelhi](https://pydelhi.org).

[2019-06-12 01:25] realslimshanky commented on #169
@harshalofic can you please update the description with the details about what you would like to deliver?

[2019-06-20 15:49] akshayaurora commented on #160
This was delivered on 16th June

[2019-06-20 18:29] karx commented on #160
Thanks, It was amazing being part of the **Drupal Camp 2019** in **JNU**.

Here are the link to the slides: [Slides](https://slides.com/kaaro/wikidata#/)
and the Wikidata one-pager with useful links: [One-pager](https://karx.github.io/Wikidata/)

Hoping to improve on the same and talk more about Wikidata.

[2019-06-25 00:42] init27 opened #170 "Proposal: [Talk] How to track your Machine Learning Experiments Effectively"
<description>
The usual pipeline for working on a machine learning experiment is very different from Software Engineering. This talk will be highlights of Tracking the experiments and the iterative nature of the same effectively inside of a jupyter notebook, how to effectively apply these ideas to Kaggle competitions and make these work with data science teams.

Pre-Requisite:

- Familiarity with

[2019-07-16 17:46] Thedijje opened #171 "Introduction to Distributed Caching, Explained with Redis!"
## Introduction to Distributed Caching,  Explained with Redis!

### Introduction
While scaling the system horizontally or vertically, the implementation of caching is very important, and for the system which is distributed globally, caching should be distributed for the performing at its best level. Example Youtube might have distributed audience and each geographical location required content to

[2019-08-08 17:31] bhanuvrat opened #172 "Proposal: The Zen of Python with examples."
We have all read the eloquent poem by Tim Peters.
This talks aims to understand what the poet meant by each phrase with the help of practical examples.

[2019-08-10 05:43] ayonroy2000 commented on #164
Hey @vipulgupta2048 , I would be available for a talk in September or October, though this time Mayank contacted me, but I being in Bangalore till 31/8/2019, I can't deliver the talk.

[2019-08-15 09:32] mehul08 opened #173 "Proposal: Talk on Django"
Hello Everyone,

I would like to propose a talk on developing websites with Django.

The purpose of the talk will be to give a brief introduction to writing apps in Django. From the basics to setting up databases to deployment.

 The duration of the talk can be 2 hours or whatever duration the audience and the speaker feel comfortable with.

If people are interested, a talk can be organised and it

[2019-08-20 17:22] imnobody0396 opened #174 "Proposal: Workflow Management using Apache Airflow"
In this big data era, loads of long-running data processing workflows are run my almost every tech company. These workflows are basically DAGs which consists of tasks depending on completion of one or more task. These tasks process data in batches and thus needs to be managed, monitored and scheduled properly.

Apache Airflow is a widely used solution for such a job as it is open-source and has gr

[2019-09-03 17:09] realslimshanky commented on #174
Thanks @imnobody0396 for submitting the talk idea. We'll get back to you soon.

[2019-09-03 17:09] realslimshanky commented on #173
Thanks @mehul08 for submitting the idea for your talk. We'll get back to you soon.

[2019-09-03 17:10] realslimshanky commented on #172
Thanks @bhanuvrat for submitting the talk idea, we'll get back to you soon.

[2019-09-03 17:10] realslimshanky commented on #171
@Thedijje thanks for submitting you talk idea, we'll get back to you soon.

[2019-09-03 17:11] realslimshanky commented on #170
Thanks @init27 for submitting your talk idea, we'll get back to you soon.

[2019-09-09 12:24] init27 commented on #170
Thanks @realslimshanky
I'm adding a few details below, I believe these would be helpful for you to review the CFP:

Here is the rough Outline for my Talk:

10 minutes: Introduction to the problem: Why is Tracking ML Experiments difficult?
Definition, the workflow of the ML Experiment
Iterative Nature of the Problem?
Why GitHub is not good enough? ex: Tracking Datasets, 100 models, etc.

10 minutes

[2019-09-11 08:33] akshayaurora commented on #171
@Thedijje would you be available on 14th September to give this talk? Venue is Microsoft Gurgaon Premises.

[2019-09-11 08:36] #160 closed

[2019-09-11 08:38] #150 closed

[2019-09-11 08:39] akshayaurora commented on #150
Closed due to lack of details.

[2019-09-11 08:43] akshayaurora commented on #174
@imnobody0396 would you be available to deliver your talk on 14th Sept. Microsoft Gurgaon Premises.

[2019-09-11 08:57] akshayaurora commented on #170
@init27 would you be available on 15th September to give your talk,  Venue is Microsoft Gurgaon Premises.

[2019-09-11 09:00] Thedijje commented on #171
Hello @akshayaurora
I have already delivered this talk on 10th Aug meetup. If everyone is fine, i would love to deliver it again.  But i am not available this weekend as i am out of town.
Would surely try next time.

[2019-09-11 09:27] init27 commented on #170
@akshayaurora Thanks, unfortunately, I'm already speaking at an event in Bangalore on the 15th. I'll be available to speak on any event after 16th Sept.

[2019-09-13 11:36] Pradhvan opened #175 "Proposal: Exploring Concurrency with Asyncio"
- Title: Python's tale of Concurrency

- Brief description of the content to be covered: The talk will look into to general concept of concurrency. How it's handled with Python's with asyncio module.

- Basic Outline:

1. Introduction
2. Concurrency
3. Concurrency vs Prallesim
4. How Python handles concurrency?
3. Threading and it's limitations.
4. Asyncio
5. Async for the web

- The time required

[2019-10-23 11:48] ShambhaviCodes commented on #169
@harshalofic, Would you like to deliver your talk in the upcoming PyDelhi meet-up scheduled on 2nd November?

[2019-10-23 11:50] ShambhaviCodes commented on #170
@init27 Would you like to deliver your talk in the upcoming PyDelhi meet-up scheduled on 2nd November?

[2019-10-23 11:51] ShambhaviCodes commented on #172
@bhanuvrat, Would you like to deliver your talk in the upcoming PyDelhi meet-up scheduled on 2nd November?

[2019-10-23 11:53] ShambhaviCodes commented on #174
@imnobody0396, Would you like to deliver your talk in the upcoming PyDelhi meet-up scheduled on 2nd November?

[2019-10-23 11:54] ShambhaviCodes commented on #175
Would you like to deliver your talk in the upcoming PyDelhi meet-up scheduled on 2nd November?

[2019-10-23 11:55] ShambhaviCodes commented on #173
@mehul08, Would you like to deliver your talk in the upcoming PyDelhi meet-up scheduled on 2nd November?

[2019-10-23 11:58] Pradhvan commented on #175
@ShambhaviCodes sure, count me in :smile:

[2019-10-23 20:27] harshalofic commented on #169
Yeah I'm fine with that :)

On Wed, 23 Oct, 2019, 5:18 PM Shambhavi Mishra, <notifications@github.com>
wrote:

[2019-10-24 10:54] ShambhaviCodes commented on #175
Great! Can you please share your e-mail address?

[2019-10-24 10:55] ShambhaviCodes commented on #169
Great! Can we discuss the agenda for the talk over e-mail?

[2019-10-24 12:32] harshalofic commented on #169
Yes, we can.

On Thu, 24 Oct, 2019, 4:25 PM Shambhavi Mishra, <notifications@github.com>
wrote:

[2019-10-26 14:44] Pradhvan commented on #175
```pradhvanbisht@gmail.com```

[2019-11-05 16:15] Utkarshkulshrestha opened #176 "Proposal: AI for Good"
I want to propose a talk on developing application or using AI/ML for  betterment of society /community we are living in .

[2019-11-07 12:08] ShambhaviCodes commented on #176
Hello,
Would you like to present your talk on 9th November Meet-up?

[2019-11-07 12:39] Sc0rpi0n101 opened #177 "Proposal: The Magic of Python AST"
# The Magic of Python AST: Understanding your code using AST

### Brief description about the content to be covered

An abstract syntax tree (AST), or just syntax tree, is a tree representation of the abstract syntactic structure of source code written in a programming language. The ast module helps Python applications to process trees of the Python abstract syntax grammar and provides us with the

[2019-11-07 15:02] Utkarshkulshrestha commented on #176
yes I would love to

[2019-11-12 22:51] bhanuvrat commented on #156
@Utkarshkulshrestha know someone who can deliver a talk on this?

[2019-12-03 13:04] Ankush-Chander opened #178 "Talk proposal - SOLID design principles"
- Title
SOLID design principles

- Brief description about the content to be covered
S.O.L.I.D is an acronym for the first five object-oriented design(OOD)** principles** by Robert C. Martin, popularly known as Uncle Bob.
These principles, when combined together, make it easy for a programmer to develop software that is easy to maintain and extend. They also make it easy for developers to avoid co

[2020-01-21 07:00] AakashMallik opened #179 "Talk Proposal: Give Python a face lift with Electron"
- Title
Give Python a face lift with Electron

- Brief description about the content to be covered
My talk will cover an experimental architecture that has been used to gel Electron shell and python scripts together to work in harmony. This architecture can be used to create desktop native applications that can help the python community benefit from the mature UI ecosystems of web community.

- Pr

[2020-01-22 14:46] AakashMallik opened #180 "Talk Proposal: Audio signal feature extraction and clustering"
- Title
**Audio signal feature extraction and clustering**

- Brief description about the content to be covered
The talk will cover some basic theory about audio feature extraction and making use of tensor flow to perform a clustering operation on the same. The talk will touch up deeper concepts of tensor flow graphs and how it is supposed to be visualized while writing code.

- Prerequisites & re

[2020-01-22 14:56] akshayaurora commented on #177
@Sc0rpi0n101 would you be interested in giving this talk on the upcoming meetup on 25th Jan @ Gojek gurgaon?

[2020-01-22 15:03] rajataaron commented on #176
@Utkarshkulshrestha did you proposed the talk? We are looking for a speaker for upcoming meetup for AI/ML related topics.

[2020-01-23 05:26] Sc0rpi0n101 commented on #177
Sorry, that won't be possible. I have classes on 25th.

[2020-01-23 05:48] AakashMallik commented on #180
@rajataaron What all details would you need from my end?

[2020-01-23 05:51] realslimshanky commented on #180
@AakashMallik Please ping on PyDelhi group on Telegram. It would be quicker to communicate with you there. @rajataaron Aakash is present on the group as @humble_D

[2020-01-23 11:05] AakashMallik commented on #180
Name: Aakash Mallik
Working as: S/W Engineer
At: Samsung R&D, Delhi
Area of interest: IOT and ML

[2020-01-30 05:41] shashankaryan opened #181 "Concurrency 101"
- Title

Concurrency 101

- Brief description of the content to be covered

The fundamental principles of implementing concurrency using Python programming.

1. Introduction to concurrency and parallelism - Concurrency vs Parallelism (5 mins)
2. When Is Concurrency Useful?
     - Use case: I/O Bound Program (Includes demo, 10 mins)
     - Use Case: CPU Bound Process (Includes demo, 10 mins)
3. Con

[2020-01-31 09:39] AakashMallik opened #182 "Workshop Proposal: Dissecting sound - Playing with python and TensorFlow"
- Title
Dissecting sound - Playing with python and TensorFlow

- Brief description about the content to be covered
We will conduct the workshop keep a dialog piece as our subject.
1. Try to understand how a sound wave can be visualized and processed will be our first agenda.
2. We will the bring our focus into understanding some key feature extraction methods and their use cases. ( Won't be diving

[2020-02-06 08:14] TDBTECHNO opened #183 "The Era of an Edge Device"
- Title
Era of an Edge Device
- Brief description about the content to be covered
Technology is getting ubiquitous day by day. Now people or users want to experience technology in a low-cost device. 2 years ago, this kind of technology required a huge amount of computation like a huge GPU Memory, RAM as well as the high-resolution camera. Even most of the deep learning models couldn’t run on a low

[2020-02-18 11:02] somesh101 opened #184 "Proposal: Business related Use cases"
There are many use cases related to Business Analysis such as Market mix modelling or customer life time value.
MMX and CLV are two I am aware of. We can take such use case in future?

[2020-02-25 03:59] AakashMallik commented on #184
@somesh101 We would need more details to move forward with this.

How much time you will need for the talk?
A little description about yourself?
Maybe  the technologies involved?
Maybe why the talk might be beneficial to the crowd?

[2020-04-27 14:22] progmatic-99 commented on #181
Which date would you be comfortable with, in delivering this talk?

Also, can you share your telegram username?

[2020-04-27 14:32] progmatic-99 commented on #183
Would you be available in the coming days to deliver this talk in a virtual meetup?

[2020-04-27 14:53] progmatic-99 commented on #178
Thanks for proposing this talk.
Are you interested in delivering this talk in a virtual meetup.
If yes, then please ping in PyDelhi telegram group(recommended) or reply here.
My telegram username is @exit07

[2020-04-27 14:56] TDBTECHNO commented on #183
Sure, I have texted you on telegram

[2020-04-28 01:12] satyaakam commented on #183
@progmatic-99 consider collaborating this talk with https://www.linuxdelhi.org/ and there is a hardware hackers club which predominantly works on Open hardware

[2020-05-01 04:56] Ankush-Chander commented on #178
I will update the jupyter-notebook by Thursday for review.

[2020-05-03 15:14] progmatic-99 commented on #179
Thanks for proposing this talk. Are you interested in giving this talk in a virtual meetup??
Please ping in the pydelhi telegram group, if you are a member.

[2020-05-06 13:06] progmatic-99 commented on #178
Have you updated the jupyter notebook ?

[2020-05-06 13:58] Ankush-Chander commented on #178
I will update by 12:00 am tomorrow if that's fine.

[2020-05-06 14:08] progmatic-99 commented on #178
Sure, that's fine.

[2020-05-07 05:59] Ankush-Chander commented on #178
HI,
I just added  the link for jupyter-notebook.
Please review and let me know of feedback.

[2020-05-07 12:39] progmatic-99 commented on #178
There is a mistake in ```# Liskov substitution Principle(Voilation)```
`     @property`
`     def height(self):`
`         return self._width`

should be changed to:
`     @property`
`      def height(self):`

[2020-05-08 08:49] Ankush-Chander commented on #178
Thanks for the heads up. Modified slides accordingly. along with other information.

[2020-05-09 14:29] shadowdevcode commented on #178
Can somebody share telegram link for chat group? I wanted to be a part of it. Just watched PyDelhi video. @Ankush-Chander

[2020-05-09 14:34] realslimshanky commented on #178
Telegram group is private and is made so to prevent bot attacks. Please share your Telegram username to me I’ll add you in. Thanks.

Shashank
https://shanky.dev

[2020-05-09 14:42] shadowdevcode commented on #178
Hi,

Okay, Sharing my telegram username below -
**username:** vijaybsehgal

[2020-05-09 14:47] shadowdevcode commented on #178
Please let me know once you add me to the group @realslimshanky

[2020-05-11 06:57] Ankush-Chander opened #185 "Talk on concurrency in Python"
- Title
Concurrency in Python

- Brief description about the content to be covered
Difference between concurrency and parallelism
I/O bound applications vs CPU bound applications
Global Interpreter Lock(GIL)
Process vs threads in python
Concurrency with Futures
Concurrency with Asyncio

- Prerequisites & reading material (Distributed before the session)
Basic Python programming

- Time required fo

[2020-05-19 12:52] progmatic-99 commented on #185
Thanks for proposing this talk. Would you like to take this talk in the upcoming virtual meetup?

[2020-05-19 13:15] progmatic-99 commented on #177
Thank for proposing this talk. Would you like to take this talk in the upcoming virtual meetup?

[2020-05-19 14:23] Sc0rpi0n101 commented on #177
When is the meetup?

On Tue, 19 May, 2020, 18:45 Shubham Upreti, <notifications@github.com>
wrote:

[2020-05-20 05:44] Ankush-Chander commented on #185
Yes, I am open to deliver this talk for 30/31st May weekend.

[2020-05-23 01:15] #178 closed

[2020-05-31 06:37] Ankush-Chander commented on #185
Code of the talk can be found here:
https://github.com/Ankush-Chander/Tech-Talks/blob/master/concurrency_python.ipynb

[2020-06-02 02:00] #185 closed

[2020-06-02 19:00] vasudev13 opened #186 "Talk Proposal: Cracking Text Classification SOTAs"
- Title: Cracking Text Classification SOTAs

- Brief description about the content to be covered

1. Starter induction to the Text Classification process.
2. Introducing State of the Arts models such as BERT, RoBERTa.
3. Introducing and Installing huggingface transformers.
4. Demo on Google Colab with TPUs.
5. USP of talk: Getting SOTA performance on Text Classification in less than 50 lines of co

[2020-06-12 09:08] snehithallamraju opened #187 "Azure PyDay Proposal: Azure + Python = Data Analytics ♥"
**- Title**
_Azure + Python = Data Analytics ♥_

**- Brief description about the content to be covered**

_Learn how Azure and python are tightly integrated in Data engineering & Data Science scenarios. We probably cannot cover a length and depth of use cases in 30 mins but I can demo specific high level use cases on how to use Azure with python in an IoT use case, covering functionality that Azur

[2020-06-14 16:01] jsxs0 opened #188 "Talk Proposal: How drastically will NLP (as computer software) change our lives in the near future?"
- Title
How drastically will NLP (as computer software) change our lives in the near future?

- Brief description about the content to be covered
In today's Information Age large volumes of information are available in English – whether it be information for competitive exams or general reading. However, many people whose primary language is Hindi or any other Indian language are unable to access

[2020-06-20 07:35] ronakbanka opened #189 "Azure PyDay talk proposal : Introduction to Azure Kubernetes Service"
- **Title**

Introduction to Azure Kubernetes Service(AKS)

- **Brief description about the content to be covered**

In this talk, the audience will walk away with Introduction to Kubernetes on Azure & how to deploy a sample Python application on AKS

- **Prerequisites & reading material (Distributed before the session)**

This talk doesn't require any knowledge of Kubernetes, all you need is an A

[2020-06-23 04:00] AnbuMani27 opened #190 "Workshop: Apply machine learning models in Azure Functions with Python and TensorFlow"
- Title
Apply machine learning models in Azure Functions with Python and TensorFlow

- Brief description about the content to be covered

In this Workshop, you will learn how to use Python, TensorFlow, and Azure Functions with a machine learning model to classify an image based on its contents. Because you do all work locally and create no Azure resources in the cloud, there is no cost to complete

[2020-06-25 18:22] progmatic-99 commented on #189
Hi, thanks for proposing this talk. Do you have a Microsoft 365 account, as we will be using Microsoft Teams ??

[2020-06-25 18:24] progmatic-99 commented on #187
Hi, thanks for proposing this talk. Do you have a Microsoft 365 account, as we will be using Microsoft Teams ??

[2020-06-25 18:24] progmatic-99 commented on #190
Hi, thanks for proposing this talk. Do you have a Microsoft 365 account, as we will be using Microsoft Teams for Azure PyDay ??

[2020-06-25 18:26] progmatic-99 commented on #189
Also, would 5:50 pm - 6:40pm be okay for your talk? Or, do you need another slot??

[2020-06-26 07:46] ronakbanka commented on #189
@progmatic-99 time slots work for me.

[2020-06-26 08:49] AnbuMani27 commented on #190
Hi Shubham,

Our M365 Mail Ids:

anbu@anbumani.dev
foxpr@hotmail.com

Thank you

________________________________
From: Shubham Upreti <notifications@github.com>
Sent: Thursday, June 25, 2020 11:55 PM
To: pydelhi/talks <talks@noreply.github.com>
Cc: Anbu Mani <anbumani91@hotmail.com>; Author <author@noreply.github.com>
Subject: Re: [pydelhi/talks] Workshop: Apply machine learning models in Azure F

[2020-06-26 09:10] snehithallamraju commented on #187
Yes I do have one.

[2020-06-26 13:17] progmatic-99 commented on #190
Thanks, see you on 28th

[2020-07-24 20:25] progmatic-99 commented on #188
Thanks for proposing this talk. When will you be available to propose this talk in our virtual meetup?

[2020-07-24 20:36] progmatic-99 commented on #186
Thanks for proposing this talk. When will you be available to deliver this talk?

[2020-07-24 20:38] progmatic-99 commented on #182
Thanks for proposing this talk. Will you be able to deliver this talk in our upcoming virtual meetup?

[2020-07-25 01:05] vasudev13 commented on #186
I guess any meetup in the coming month?

[2020-07-25 17:41] progmatic-99 commented on #186
Do you have any date in mind ? If you are on the PyDelhi telegram group, please ping there.
Otherwise provide your telegram username, I will add you on the group.

Thanks

[2020-07-26 04:03] AakashMallik commented on #182
I have already given the talk at pyDelhi

[2020-07-26 14:15] jsxs0 commented on #188
Thanks for following up. How about a week, from now?

[2020-07-29 14:49] progmatic-99 commented on #188
How about 15th August??

[2020-08-02 06:32] jsxs0 commented on #188
Sounds good. Let's finalise that (?)

[2020-08-02 13:39] progmatic-99 commented on #188
Cool. Are you in the PyDelhi telegram group?
If yes, Ping in the group once.
If you are not in the group, just provide your telegram username and i will add you.

[2020-08-03 08:28] vasudev13 commented on #186
Hi, my username is vasudev13. I tried earlier to ping in Telegram but I guess I contact the wrong person.

[2020-08-04 15:42] jsxs0 commented on #188
No, I'm not.
Thanks @progmatic-99. Due to security concerns, I cannot share my telegram username here, so I've dropped you an email at shubh_am22@outlook.com with the same. Thanks!

[2020-08-05 05:38] #190 closed

[2020-08-05 05:39] #189 closed

[2020-08-05 06:33] progmatic-99 commented on #188
Sure. I will add you to the group and further discussions will take place there.

[2020-08-05 06:34] #172 closed

[2020-08-05 06:35] #171 closed

[2020-08-05 06:35] #187 closed

[2020-08-05 06:36] #183 closed

[2020-08-05 06:36] #182 closed

[2020-08-05 06:37] #177 closed

[2020-08-05 06:59] progmatic-99 commented on #188
@jsxs0 I haven't received your mail yet. Did you send it to the right address?

[2020-08-08 17:39] #175 closed

[2020-08-09 05:31] #180 closed

[2020-08-15 16:47] #188 closed

[2020-08-15 16:47] #186 closed

[2020-09-12 07:29] progmatic-99 commented on #165
Thanks for proposing this talk.
Will you be able to give this talk on **12th September** on our upcoming meetup which includes all the local Python chapters of India coming forward to give a boost to PyCon India??

[2020-09-12 07:35] progmatic-99 commented on #110
Did you deliver this talk?
If not, then will you be able to give this talk on **12th September** on our upcoming meetup which includes all the local Python chapters of India coming forward to give a boost to PyCon India??

[2020-09-14 07:55] vipulgupta2048 opened #191 "Documenting your next Python project: Right the Docs"
## Brief description of the content to be covered
Documenting your next Python project is a deep dive into options available as far as internal tools are considered to document your Python code. There is almost a certain confusion every time people think about what tools to use for documenting their project. In the end, it doesn't come down to how good the tool is but its more focused on what's th

[2020-09-15 05:39] inovizz commented on #191
@vipulgupta2048 - Is it possible to shorten it down to 30 mins?

[2020-09-15 05:41] vipulgupta2048 commented on #191
@inovizz yes, I will keep it more examples oriented. Less theory.

[2020-09-15 05:49] inovizz commented on #191
Awesome! Thanks.

[2020-09-19 03:47] surajwate commented on #191
Best of luck.

[2020-09-19 15:26] vipulgupta2048 commented on #191
Slides have been updated
Talk delivered here https://www.meetup.com/pydelhi/events/273073755/
Closing the issue.

[2020-09-19 15:26] #191 closed

[2020-11-01 11:17] progmatic-99 commented on #181
Thanks for proposing this talk.

Would you like to give this talk in our upcoming virtual meetup??

[2020-12-02 02:35] shashankaryan commented on #181
Hi @progmatic-99

I already delivered this talk in one of the PyDelhi meetups.

https://youtu.be/-YGF7tRQhiM

[2021-02-28 07:31] reachudaanorg opened #192 "Visualize your Python Code using Tkinter : Code ->App"
- Visualize your Python Code using Tkinter : Code ->App

- In this session, we will be developing a checklist desktop application using Python Tkinter, all from scratch, and hands-on. The basic functionality of the application would be - user can add and delete items as a part of the checklist, clear the checklist, and save the checklist in a txt document so that the checklist isn't lost when the

[2021-03-17 11:36] progmatic-99 commented on #192
Thanks for proposing the talk.
Would you be able to deliver this on 27th March (next Saturday) in a virtual meetup??

[2021-04-20 16:44] anjalibhavan opened #193 "Ethical Considerations While Building AI Systems"
- Title
Ethical Considerations While Building AI Systems
- Brief description about the content to be covered
I would like to discuss the importance of ethical data collection, analysis and development of AI systems. Especially now - amidst a pandemic, climate change and numerous other problems across the world which are leading to a great spread in misinformation on social media and otherwise. I w

[2021-04-30 02:06] Sc0rpi0n101 commented on #193
Hey @anjalibhavan,

The event has been postponed to May 8th. Will you be available on that day for the talk?

[2021-05-01 10:18] anjalibhavan commented on #193
Yeah sure, I will be!

[2022-02-08 06:51] ananyo2012 opened #194 "Cache Master data in Redis using Python"
- Title: Cache Master data in Redis using Python

- Brief description about the content to be covered:

  Redis is an in-memory data structure store. It is a disk-persistent key-value database with support for multiple data structures. It offers a number of features that are natural to find in a database like replication, durability, clustering, and high availability. We can use Redis with any of

[2022-02-08 10:48] satyaakam commented on #194
Sounds good leave the speaker details and how long the talk is going to be from 12 Pm to ...

[2022-02-08 10:59] ananyo2012 commented on #194
@satyaakam Talk is for 1 hr. 12-1 pm should be fine.

Speaker details - Sumit Kumar, Lead Software Engineer at EPAM India. [LinkedIn](https://www.linkedin.com/in/sumit-kumar-baaa1766/)

[2022-02-08 11:13] satyaakam commented on #194
@ananyo2012 share some creatives with PyDelhi and His picture to be shared in social media

[2022-02-08 11:21] ananyo2012 commented on #194
@satyaakam Sure I will share a poster for the event and picture in this issue.

[2022-02-08 12:38] ananyo2012 commented on #194
Speaker image
![profile_pic](https://user-images.githubusercontent.com/10486343/152988656-1d79cc78-269b-4e12-9197-09d1008d74bd.jpeg)

[2022-02-14 05:48] ananyo2012 commented on #194
@satyaakam Please go ahead and schedule this event on meetup.

[2022-02-14 13:14] satyaakam commented on #194
![PyDelhi Poster (1)](https://user-images.githubusercontent.com/822770/153870932-513a7f8b-50e6-4479-aabc-3f3d81af5f65.png)

[2022-02-22 12:13] satyaakam commented on #194
Recording and Slides links

Slides - https://drive.google.com/file/d/1OEO6W86L7Se5jZ6hIRa2rdztdCDxQtl3/view?usp=sharing
Recording - https://drive.google.com/file/d/1JXXok9CUVQQPKIZizCBZ1mSJXiBUUPiv/view?usp=sharing

[2022-02-22 12:13] #194 closed

[2022-05-12 04:50] #181 closed

[2022-05-12 04:57] progmatic-99 commented on #173
@mehul08 Thanks for proposing the talk. Would you like to deliver this talk in an offline meetup??
Please comment your telegram ID so that we can add you to the PyDelhi group.

[2022-05-16 08:19] shuttlesworthNEO opened #195 "Finding high-impact performance bottlenecks in a Django application"
### Title

- Finding high-impact performance bottlenecks in a Django application

### Brief description about the content to be covered

- We'll explore the drawbacks of abstraction in Django ORM, how to optimize queries and tools that can be used to identify bottlenecks and profile your Django application.
- The talk will be divided into 3 parts:
    - Preparing the data for benchmarking
    - Ru

[2022-05-17 09:03] progmatic-99 commented on #195
@shuttlesworthNEO Thanks for proposing this talk. Are you in the PyDelhi telegram group?
If not, can you comment your telegram ID so that communication becomes easier??

Thanks

[2022-05-18 05:47] shuttlesworthNEO commented on #195
@progmatic-99 I'm not a part of the telegram group. You can find me with the handle `shuttlesworthNEO`

[2022-05-18 10:17] Sanyambansal76 commented on #195
@shuttlesworthNEO Looks interesting topic, looking forward to it.

[2022-06-06 06:17] progmatic-99 opened #196 "Creating a distributed key value store"
- Brief description about the content to be covered
   - How Meta used to store data ??
   - What changes they made??
   - Talking about seaweedfs
   - Implementing our own key value store in Python

- Prerequisites & reading material (Distributed before the session)
  - [Seaweedfs white paper](https://github.com/chrislusf/seaweedfs/wiki/SeaweedFS_Architecture.pdf)
  - [Facebook's Haystack design

[2022-06-10 17:38] sparack opened #197 "Workshop: Getting started with the Twitter API v2 in Python"
- **Title**: Getting started with the Twitter API v2 in Python

- **Description**: The Twitter API v2 is the newest version of the Twitter API that includes new functionality such as bookmarks, conversation threading, Tweet annotations etc. It also includes dedicated access for academic researchers giving them the ability to search the full-archive of public Tweets for free. In this workshop, we w

[2022-06-10 19:18] dishantsethi opened #198 "Grpc in python"
- Title
   - Protobuf and grpc in python

- Brief description about the content to be covered
  - A crisp comparison between JSON and protobufs.
  - Writing proto file and generating protobufs using protoc
  - Intro to grpc and its benefits with hands-on demo.

- Prerequisites & reading material (Distributed before the session)
  - Basic knowledge of Python
  - Client service architecture

- Time

[2022-06-11 05:54] progmatic-99 commented on #198
Hey @dishantsethi, thanks for proposing the talk.
Are you a part of PyDelhi telegram group??
I am adding your talk to the 19th June meetup, ok??

[2022-06-11 05:55] progmatic-99 commented on #197
Hey @sparack, thanks for proposing the talk.
Are you part of PyDelhi telegram group??

[2022-06-11 05:57] dishantsethi commented on #198
Yes @progmatic-99
I’m a part of pydelhi telegram channel. Sure, you can add my talk for 19th June meetup.

[2022-06-11 05:58] progmatic-99 commented on #198
Awesome.

[2022-06-11 06:01] sparack commented on #197
No. Where do I sign up for it?

[2022-06-11 06:03] progmatic-99 commented on #197
@sparack Are you on telegram?? Just tell me your telegram username
If you are not on telegram, then you can download it from play store or ios store

[2022-06-13 15:40] sparack commented on #197
Can you please [DM me on Twitter](https://twitter.com/suhemparack)

[2022-06-14 05:57] Daksh777 opened #199 "Why open source and getting started with open source"
- Title: Why open source and getting started with open source

- Brief description about the content to be covered:
   - What is even open source?
   - Why is open source important?
   - How to get started with open sourcing?
   - OSS Programs to get experience and swags while contributing to open source
   - Open sourcing the right way

- Prerequisites & reading material (Distributed before the s

[2022-06-22 08:14] #199 closed

[2022-06-22 13:16] satyaakam commented on #26
Old issue hence  i am closing it

[2022-06-22 13:16] #26 closed

[2022-06-22 13:17] #29 closed

[2022-06-22 13:18] #30 closed

[2022-06-22 13:19] #78 closed

[2022-06-22 13:19] #88 closed, assigned to nobody

[2022-06-22 13:19] #95 closed

[2022-06-22 13:19] #106 closed

[2022-06-22 13:20] #151 closed

[2022-06-22 13:20] #153 closed

[2022-06-22 13:20] #155 closed

[2022-06-22 13:20] #156 closed

[2022-06-22 13:21] #195 closed

[2022-06-22 13:23] #164 closed

[2022-06-22 13:23] #165 closed

[2022-06-22 13:23] #169 closed

[2022-06-22 13:23] #170 closed

[2022-06-22 13:23] #173 closed

[2022-06-22 13:23] #174 closed

[2022-06-22 13:23] #176 closed

[2022-06-22 13:25] #179 closed

[2022-06-22 13:25] #192 closed

[2022-06-22 17:04] progmatic-99 commented on #193
@anjalibhavan Is this talk delivered in PyDelhi's previous meetups?

If not, would you like to deliver it in an offline meetup on 23 July??

[2022-06-29 16:49] pulsar17 opened #200 "Having fun with text in Python or 🐍❤🔠"
- Title
Having fun with text in Python or 🐍❤🔠
- Brief description about the content to be covered
In this talk I will cover:
  - What is text? (an abstract and philosophical question)
  - What is Unicode? Why Unicode is required?
    - A brief tutorial on hexadecimal and a hexadecimal to binary conversion HOWTO (useful to understand Unicode codepoints and encodings)
    - Some terminology related

[2022-07-01 05:40] progmatic-99 commented on #200
Hey @pulsar17, thanks for proposing this talk. Are you in the PyDelhi telegram group?

[2022-07-01 07:48] pulsar17 commented on #200
Yes, I have the same @pulsar17 as my handle in the group.

[2022-07-05 09:51] RohancheH opened #201 "Proposal: Collaborative talk about Python opportunities in the UK with a work visa"
Love what you're doing at Pydelhi. It's an impressive set up you've put together. 

I'm actually writing to you from the UK and we are a data driven company connecting tech professionals with UK companies that can provide a work visa.

I'm not here to sell you anything and I'm not a recruiter. I'm contacting you to explore the potential of a collaboration. 

Do you think career opportunities withi

[2022-07-06 14:47] yednapg commented on #193
Hey @anjalibhavan, Would you like to deliver this talk in an offline meetup on 23 July? If yes, please let me know as soon as possible, and are you in the telegram group of PyDelhi?

[2022-07-07 13:26] yednapg opened #203 "talks website is not responsive on the desktop screen when we add more than 4 talks videos"
The talks website (https://pydelhi.org/talks/) is not responsive on the desktop screen when we add more than 4 talks videos, please see the attached image below.

<img width="1680" alt="Screenshot 2022-07-07 at 6 51 47 PM" src="https://user-images.githubusercontent.com/103869798/177784255-11aeab70-1dc7-4878-ae33-e370900ba0b8.png">

[2022-07-08 06:00] progmatic-99 commented on #203
You are working on this, right??

[2022-07-08 17:48] yednapg commented on #203
yes!

[2022-07-10 15:27] #203 closed

[2022-07-13 12:37] yednapg opened #205 "What's new in Python 3.11?"
### Title
What's new in Python 3.11?

### Brief description about the content to be covered
Every year a new Python Version is released, with new features, improvements, and many other things. In this talk, I will discuss “What’s new in Python 3.11 with a hands-on demo.”

What if you know, What’s the exact error in your code without debugging it or spending hours in identifying the issue? Python 3

[2022-07-14 14:08] zora89 opened #206 "A Learning Curve - Scuba Diving Pro to Python"
- Title

A Journey of Transition - (Scuba Diving Pro to Python )

- Brief description about the content to be covered

1. I'd like to share my non-dev background very briefly.
2. How living on a remote island with no internet motivated me to find a door into technology.
3. Perspective on my technology beliefs, in a formative stage as they are.
4. Show some code samples from my learning phase to pr

[2022-07-14 16:25] yednapg commented on #200
Hey @pulsar17, We're going to have a physical meetup on 23, July 2022. We're very excited to have you as a Speaker. I hope you are ready for that. Just reply to this comment in order to confirm your spot latest by 16, July 2022!

If we didn't hear a response from you until 16, July 2022. We'll ask you in on our Telegram Group and if we still didn't hear any response from you. It is very hard for u

[2022-07-14 16:26] yednapg commented on #197
Hey @sparack, We're going to have a physical meetup on 23, July 2022. We're very excited to have you as a Speaker. I hope you are ready for that. Just reply to this comment in order to confirm your spot latest by 17, July 2022!

If we didn't hear a response from you until 17, July 2022. It is very hard for us to schedule your Talk for the 23, July 2022 Meetup. Also Could you please add your e-mail

[2022-07-14 16:49] pulsar17 commented on #200
Hey @yednapg
I acknowledge your comment and confirm that I'll be giving the talk as proposed.
My email ID is: ishaanarora1000 at gmail.com

[2022-07-14 17:20] yednapg commented on #200
Thank You, So Much!

[2022-07-14 17:42] sparack commented on #197
Yes, looking forward!

[2022-07-15 07:23] progmatic-99 commented on #201
Hey @RohancheH, thank you for proposing this. Are you on telegram?
If yes, please provide your telegram username, so I can add you to the PyDelhi group and we can talk about this with the community.

[2022-07-15 08:13] RohancheH commented on #201
Hi Shubham

Thanks for your reply.

Yes I do have a telegram account. My username is RohanChe.

In addition my contact number is +44 7957 272 010

I look forward to discussing this with you further.

Many Thanks

Rohan Harris
Company Director
Email: ***@***.***
https://jobs.inter-cv.com/
http://www.inter-cv.com/

ᐧ

On Fri, Jul 15, 2022 at 9:23 AM Shubham Upreti ***@***.***>
wrote:

[2022-07-15 08:48] yednapg commented on #206
Hey @zora89, Thank You So, Much for proposing your talk. Unfortunately, we're not able to schedule your talk for July Meetup. It is ok if we reserve your talk for August Meetup.

Thank You!

[2022-07-18 07:49] patilswapnilv opened #209 "Careers in DevOps for Python Devs 🐍"
Python is one of the primary technologies used by teams practicing DevOps. Its flexibility and accessibility make Python a great fit for this job, enabling the whole team to build web applications, data visualizations, and to improve their workflow with custom utilities.

[2022-07-18 07:55] patilswapnilv opened #210 "Continuous Integration With Python"
Core concepts behind Continuous Integration (CI) and why they are essential for modern software engineering teams.

Discussion around how to set up Continuous Integration for your Python project to automatically create environments, install dependencies, and run tests. How to work with GitHub, CircleCI, and PyTest, etc

[2022-07-18 09:58] yednapg commented on #209
Hey @patilswapnilv, Thank You so much for proposing the talk. I would recommend you please use our Issue Template, it would be easier for us to review your talk.

Best!

[2022-07-18 09:59] yednapg commented on #210
Hey @patilswapnilv, Thank You so much for proposing the talk. I would recommend you please use our Issue Template, it would be easier for us to review your talk.

Best!

[2022-07-21 18:01] #193 closed

[2022-07-23 13:33] #197 closed

[2022-07-29 12:41] #201 closed

[2022-08-06 20:57] aisociety-in opened #211 "How to build a successful career in AI by Sameer Nigam"
- How to build a successful career in AI.

-  I will be giving about how to build a successful career in AI. We will have an in-depth discussion on right way to start a career in AI regardless of experience and background. I will also discuss ways to apply for AI-related internships or jobs and explain what is the right way to learn everything about AI without getting scared by mathematics.

- Not

[2022-08-08 15:00] yednapg commented on #211
Hey Sameer, Thank You so much for proposing the talk. Our Program team loves the Talk but before fitting it into the schedule we need additional information about your talk.

1. As you said you require 2 hours for your talk, which is not fitting into our schedule. We can provide a maximum of 60-70 minutes.
2. As we're a community of Python Users, your talk should somehow be related to Python or ha

[2022-08-08 15:07] aisociety-in commented on #211
Thank you for your email Gaurav. Since the posting asked about my talk, so
I mentioned it.

1. 60-70 minutes can also work for me.
2. We can create an AI project using python to create interest for AI after
the presentation(in total, it will not take more than 70 minutes).
3. Most of my talks are in English, so no problem with that too.

Regards,
Sameer Nigam.

On Mon, 8 Aug 2022 at 8:30 PM, Gaura

[2022-08-08 15:43] yednapg commented on #211
Hey Sameer, Thank You so much for the reply. I would love to see you on the meetup day which is scheduled on 20th August 2022. I will send you more information 2-3 days before the event.

Best,
Gaurav! @PyDelhi

[2022-08-08 15:56] aisociety-in commented on #211
Happy to hear from you. I will be waiting for more information. I’ll book
the tickets right away.

On Mon, 8 Aug 2022 at 9:13 PM, Gaurav Pandey ***@***.***>
wrote:

[2022-08-09 16:51] vj18 opened #214 "Python Decorators Walkthrough"
### Title

Hands-on python decorators

### Describe your Talk

The talk is mostly intended for students who are looking to learn more about python.

It will begin by explaining how functions behave in python and then move towards:
- Decorator syntax and flow of control
- Decorators without parameters
- Decorators with parameter
- using *args and **kwargs

### Pre-requisites & reading material

Bas

[2022-08-09 16:56] yednapg commented on #214
Hey, @vj18 Thank You for proposing a talk, Is it possible for you to give a talk at our September Meetup?

Best,
Gaurav! @PyDelhi

[2022-08-09 16:58] vj18 commented on #214
Sure.

[2022-08-09 17:05] yednapg commented on #214
Hey Veebhor, Thank You. Please allow us 3-4 Days to schedule your talk. I will let you the final decision latest by 13 August.

Best,
Gaurav! @PyDelhi

[2022-08-10 08:06] Saransh-cpp opened #215 "Python packaging: from stone age to the future"
### Title

Python packaging: from stone age to the future

### Describe your Talk

A brief plan -
1. What is packaging and why would you need it in `Python`?
2. `distutils`, `setuptools`, and `PEPs`
3. A very simple `Python` package.
4. Enter `setup.py`
5. Enter `setup.cfg` and related `PEPs`
6. Enter `pyproject.toml` and related `PEPs`
7. `Python` packages are powered by wheels?
8. Generate `whee

[2022-08-10 10:10] yednapg commented on #215
Hey, @Saransh-cpp  Thank You for proposing a talk, Is it possible for you to give a talk at our September Meetup?

Best,
Gaurav! @PyDelhi

[2022-08-10 17:05] Saransh-cpp commented on #215
Yes, no worries!

[2022-08-10 18:11] yednapg commented on #215
Hey Saransh, Thank You. Please allow us 3-4 Days to schedule your talk. I will let you the final decision latest by 13 August.

Best,
Gaurav! @PyDelhi

[2022-08-12 17:53] yednapg commented on #210
Hey, @patilswapnilv **Last Call**, Are you available for the PyDelhi August Meetup? or for September Meetup. Also please tell me how much is required for the talk.

Best,
Gaurav!

[2022-08-15 14:46] yednapg commented on #214
Hey Veebhor, Your talk is accepted and scheduled for September Meetup!

Best,
Gaurav! @pydelhi

[2022-08-15 14:46] yednapg commented on #215
Hey Saransh, Your talk is accepted and scheduled for September Meetup!

Best,
Gaurav! @pydelhi

[2022-08-16 04:54] aisociety-in commented on #211
Hi Gaurav, can I get a confirmation of the offline event on 20th August?

On Mon, 8 Aug 2022 at 9:26 PM, AI Society ***@***.***> wrote:

[2022-08-17 13:14] aisociety-in commented on #211
Please call on this number for the confirmation of the event. I need to ask
some urgent things

8299856425

On Tue, 16 Aug 2022 at 10:24 AM, AI Society ***@***.***> wrote:

[2022-08-18 04:33] aisociety-in commented on #211
Now only two days are left for the event. Still no information. Please
don’t procrastinate on this email and reply asap.

On Mon, 8 Aug 2022 at 8:37 PM, AI Society ***@***.***> wrote:

[2022-08-18 10:03] yednapg commented on #211
Hey, @aisociety-in Thank You for being patient, as I am still a school student I can't reply to you every time, please allow me a bit more time to collect details from Operations Team to get details about the venue. I will positively confirm by today. 😊

[2022-08-18 11:57] yednapg commented on #211
Hey, Sameer. Thank You for being patient. I've contacted the Team, the venue details are here.

Venue: Prismberry, C-79, C Block, Sector 2, Noida, Uttar Pradesh 201301
Venue Location: https://goo.gl/maps/B17fxL92gV7EC32K8

We're excepting 30-40 people for our meetup.

Best,
Gaurav!

[2022-08-18 16:10] aisociety-in commented on #211
Thanks you for the info Gaurav. I will be there

On Thu, 18 Aug 2022 at 5:27 PM, Gaurav Pandey ***@***.***>
wrote:

[2022-08-20 07:03] #211 closed

[2022-08-20 14:12] #206 closed

[2022-08-20 14:14] yednapg commented on #210
Hey, @patilswapnilv I've did not get a response yet so I am closing this. If you want to talk in PyDelhi future meetup. Please feel free to create a new issue.

[2022-08-20 14:14] #210 closed

[2022-08-20 14:15] yednapg commented on #209
Hey, @patilswapnilv I've did not get any response yet so I am closing this. If you want to talk in PyDelhi future meetup. Please feel free to create a new issue.

[2022-08-20 14:15] #209 closed

[2022-08-27 07:31] yednapg commented on #215
Hey Saransh, As your talk is scheduled for September Meetup, I would like to send you more info about the Meetup.

**Expected Audience Size**: 50-70
**Skill Level**: Mixed
**Language**: Both Hindi and English
**Venue**: WeWork Blue One Square, Udyog Vihar, https://goo.gl/maps/WapZNgD4pFWKN39R8.
**Timings**: 11:00 AM - 4:00 PM

If you need more information or have any questions please don't hesitat

[2022-08-27 07:31] yednapg commented on #214
Hey Veebhor, As your talk is scheduled for September Meetup, I would like to send you more info about the Meetup.

**Expected Audience Size**: 50-70
**Skill Level**: Mixed
**Language**: Both Hindi and English
**Venue**: WeWork Blue One Square, Udyog Vihar, https://goo.gl/maps/WapZNgD4pFWKN39R8.
**Timings**: 11:00 AM - 4:00 PM

If you need more information or have any questions please don't hesitat

[2022-08-28 21:10] pulsar17 opened #216 "Where do the 🐍🐍🐍 go? [hint: venvs]"
### Title

Where do the 🐍🐍🐍 go? [hint: venvs]

### Describe your Talk

As a beginner, using virtual environments felt like using incantations of dark magic 🧙.

I will attempt to demystify them.

So, In this talk I will cover:
  - Virtual Environments (referred to as `venvs` hereafter)
  - Why were venvs introduced. What problem(s) do they solve.
  - How and why do venvs work
    - What happens whe

[2022-08-29 17:50] Saransh-cpp commented on #215
Thanks, @yednapg! Is there a tentative date for the September meet-up?

[2022-08-30 08:02] BabneetRehal opened #217 "'Cloud Firestore' - The startup world's nitro"
### Title

'Cloud Firestore' -  The startup world's nitro

### Describe your Talk

The latest trending technologies look brighter at the start but slowly take us towards a horizon that scatters the focus of Business. This talk is a quick overview of Why to use Firestore for your startup / next project and How efficiently will the family of Firebase helps you to launch a scalable solution, faster.

[2022-08-30 13:56] yednapg commented on #217
Hey, Thanks for the proposal, I have a couple of questions.

1. How your talk is related to Python? or Open Source
2. All of our events are Offline, maybe hybrid in the future. Our latest meetup is on 17th September 2022.

We have more questions, it is possible to have a quick chat on google meet.

Best,
Gaurav!

[2022-08-30 16:50] Saransh-cpp commented on #215
Thanks! Works for me!

[2022-08-30 16:54] yednapg commented on #215
Great, are you on PyDelhi Telegram Group, if not please send me your Username so that I can add you.

[2022-09-01 08:20] BabneetRehal commented on #217
Hey Gaurav,

Thank you for your email. Sure, let me know your time preference and I can
set up the calendar invite accordingly.
I am also available on handphone +91-9999079569.

Thanks!

On Tue, Aug 30, 2022 at 7:26 PM Gaurav P. ***@***.***> wrote:

[2022-09-01 09:42] yednapg commented on #217
Great, Please set up meeting today, after 7 PM IST.

Best,
Gaurav!

[2022-09-01 10:07] BabneetRehal commented on #217
Great Gaurav!

I am available at 07 or 07:30 pm IST at *meet.google.com/pbz-hkdg-tij
<http://meet.google.com/pbz-hkdg-tij>*.
Let me know the relevant email address to shoot the calendar invite.

Thanks!

On Thu, Sep 1, 2022 at 3:12 PM Gaurav P. ***@***.***> wrote:

[2022-09-01 10:11] yednapg commented on #217
I'll prefer 7 PM IST, and the email address are:-

1. yednapg@gmail.com
2. shubham.upreti@gmail.com

Best,
Gaurav!

[2022-09-01 10:15] BabneetRehal commented on #217
Sure, Gaurav!

However, one thing to notify is that Fluxon works in the remote and
distributed setup and thus we are looking to collaborate only with the
groups that are open for online Meetups.
I hope it works for the pydelhi group.

Thanks!

On Thu, Sep 1, 2022 at 3:41 PM Gaurav P. ***@***.***> wrote:

[2022-09-05 18:12] zora89 opened #218 "An Entrepreneurial Ride - Scuba Pro to Python Programmer"
### Title

An Entrepreneurial Ride -  Scuba Pro to Python Programmer

### Describe your Talk

- Share my pre-dev adventures in the ocean and on an island.
- Living on an island with no internet to finding doors in technology.
- Perspective on gig economy and `India` as a software export hub.
- Code samples from my learning phase to projects that I am pursuing now.
- Challenges and nudges that have

[2022-09-06 13:20] yednapg commented on #217
Hey, Sorry for the late reply. I talked to my team and we discussed that this is not related to Python and Open-Souce. So, in that case, you have to provide sponsorship to PyDelhi. For E.g, Swags, Books, Tech products (Mouse Keyboard, SSD), Python merchandise, etc. Please note that we do not accept sponsorship in Cash or bank transfer.

About Online, yes we have decided to have an Online Meetup or

[2022-09-08 10:06] yednapg commented on #214
Hey Need confirmation from your side, are you ready for the meetup? please reply.

[2022-09-08 10:07] yednapg commented on #215
Hey Need confirmation from your side, are you ready for the meetup? please reply.

[2022-09-08 10:14] vj18 commented on #214
Yes, I'll be there on 17th.

[2022-09-08 10:18] yednapg commented on #214
Great See you there! 👋

[2022-09-08 13:11] zora89 commented on #218
Yes , flying in on 15th for the same.

-
*Zorawar Purohit*
Virtual Meet: calendly.com/zpmeet
More Info: Bio <https://zorawar.bio.link/>

On Thu, Sep 8, 2022 at 3:37 PM Gaurav Pandey ***@***.***>
wrote:

[2022-09-10 08:10] Saransh-cpp commented on #215
Hi, @yednapg! Sorry for the delay, but I just went through the venue and it is around a 2 hour ride from my home. It would be very difficult for me to travel there the upcoming weekend (given that PyHEP is also next week, and I am presenting my summer research work remotely). Would it be possible to reschedule my talk for the next PyDelhi meetup? Apologies for the inconvenience.

[2022-09-10 13:53] yednapg commented on #215
Hey, @Saransh-cpp I am very sorry to hear that. As we already schedule your talk I can move to the very beginning at the meetup you'll be free by 11:30 - 12:00. Please let me know as soon as possible I have a meeting with the Operations team tomorrow for finalizing the schedule.

Best, Gaurav!

[2022-09-10 14:07] Saransh-cpp commented on #215
That sounds good, @yednapg! My telegram username is `@SaranshChopra`. I can deliver my talk early in the morning!

[2022-09-20 10:47] #218 closed

[2022-09-20 10:47] #215 closed

[2022-09-20 10:47] #214 closed

[2022-09-27 12:15] progmatic-99 commented on #216
Is this delivered?? @yednapg

If not, can you squeeze it down to 30 mins, @pulsar17 ??

[2022-09-27 12:36] yednapg commented on #216
yes delivered!

[2022-09-27 12:36] #216 closed

[2022-10-02 12:50] akshatcoder-hash opened #219 "Getting Started with PyScript"
### Title

Getting Started with PyScript

### Brief description about the content to be covered

PyScript is a framework that allows users to create rich Python applications in the browser using HTML's interface and the power of [Pyodide](https://pyodide.org/en/stable/), [WASM](https://webassembly.org/), and modern web technologies.

In the web development field, Python is used mainly on the backe

[2022-10-05 19:11] pulsar17 opened #220 "Code Walkthrough: Get into the 🍯 of 🐍"
### Title

Code Walkthrough: Get into the 🍯 of 🐍

### Describe your Talk

I will randomly pick a *stdlib* module and try to go through the code with the audience.

This talk will be:
- interactive
- impromptu

I hope that both the audience and myself get to learn something new about Python by *reading the source*.

### Pre-requisites & reading material

None

### Time required for the talk

~ 30 m

[2022-10-09 09:50] yednapg commented on #219
hey, are you available for our next meetup on 16th Oct?

[2022-10-09 10:11] akshatcoder-hash commented on #219
Hey @yednapg! I am sorry to tell you that I am involved in college exams till 17th October.
Also, can I know that when will be your next offline meetup?

[2022-10-09 10:14] yednapg commented on #219
hey our next meetup in on 16th of October from 1-5pm

[2022-10-09 11:26] akshatcoder-hash commented on #219
Yes, I'll be available for that! ✌️

[2022-10-09 11:57] yednapg commented on #219
great start working on it 🚀

[2022-10-09 14:08] yednapg commented on #219
hey is it possible to push it to a 30-45 minutes talk?

[2022-10-09 14:13] akshatcoder-hash commented on #219
Yeah Sure! @yednapg

[2022-10-09 14:27] yednapg commented on #219
great!

[2022-10-11 09:11] zora89 commented on #206
Absolutely, I'd be happy to present & share anytime.

Look forward to seeing you on the 23rd, irrespective.

-
*Zorawar Purohit*
Virtual Meet: calendly.com/zpmeet
More Info: linktr.ee <https://linktr.ee/zorawarpurohit>

On Fri, Jul 15, 2022 at 2:18 PM Gaurav Pandey ***@***.***>
wrote:

[2022-10-15 05:23] akshatcoder-hash commented on #219
Hey @yednapg !
I just had a query regarding Wi-Fi connectivity at the venue.
As for the demo, I was planning to use repl.it which is an online IDE.

[2022-10-15 05:33] yednapg commented on #219
Hey Akshat!

Yes there will be a wifi, also here are more details about the meetup.

Link: https://www.meetup.com/pydelhi/events/289046258/

See you there!

[2022-10-16 05:13] akshatcoder-hash commented on #219
Hey @yednapg !
Could you please arrange a HDMI to Type C converter for the talk?

[2022-10-16 05:14] yednapg commented on #219
I have one, No problem!

[2022-10-16 07:44] yednapg commented on #219
Hey could you please message hi on 9315317715.

[2022-10-17 17:00] #220 closed

[2022-11-13 14:20] Animesh-Ghosh commented on #214
@vj18 are you available to give this talk again on 19th November?

[2022-11-13 14:21] pulsar17 commented on #219
@akshatcoder-hash are you available to give this talk again on 19th November?

[2022-11-13 14:22] pulsar17 commented on #215
@Saransh-cpp are you available to give this talk again on 19th November?

[2022-11-13 14:27] vj18 commented on #214
Yes. Sure.

[2022-11-13 21:54] akshatcoder-hash commented on #219
Hey @pulsar17! I guess I will be having a hackathon also. Let me confirm once.

[2022-11-14 05:09] Animesh-Ghosh opened #221 "Introduction to the `unittest` module"
### Title

unittest 101: A step towards Increasing confidence in the Code we write

### Describe your Talk

This talk would focus on introducing the `unittest` module and some of its useful assertions that one can use for writing tests for standalone Python scripts, modules etc.

Mocking outputs of functions within modules, along with built-ins such as `input` would also be discussed to lead the a

[2022-11-15 15:52] Saransh-cpp commented on #215
Hi, @pulsar17

I really want to. But, unfortunately, it won't be possible for me to give this talk again on 19th November because of my upcoming endsems.

[2022-11-15 16:41] akshatcoder-hash commented on #219
Hey @pulsar17 !
I would love to be there on 19 November.
Could you please clarify that if I can give a talk about another topic instead of PyScript?

[2022-11-15 16:54] pulsar17 commented on #219
@akshatcoder-hash we're covered for November's meetup. You could still join though!

[2022-11-15 16:55] pulsar17 commented on #215
No problem @Saransh-cpp

[2022-11-17 09:25] akshatcoder-hash opened #222 "Building on Solana with Python"
### Title

BUIDL on Solana with Python 🐍

### Describe your Talk

Solana was released in March 2020. It is considered to be the fastest blockchain with scalability of 65k Transactions Per Second.
Initially, C was required to build on solana and now it has completely shifted itself on Rust. There is a framework named [Seahorse](https://seahorse-lang.org) which allows developers to build on this pow

[2022-11-20 11:35] #221 closed

[2022-11-27 13:56] progmatic-99 commented on #222
Hey @akshatcoder-hash , thanks for proposing this talk.

Would you like to deliver this talk at our 17th December meetup ??
Can you reduce your talk's time to 30 mins ??

[2022-11-27 14:14] Animesh-Ghosh commented on #205
@yednapg are you available to give this talk on the 17th of December?

[2022-11-27 19:46] akshatcoder-hash commented on #222
Hey @progmatic-99!
Yeah, I can surely reduce the talk's time.
Sorry, but I would not be available for that 17th December week. Can it be covered in before or after that week?

[2022-11-28 17:26] progmatic-99 commented on #222
Yes, you can deliver the talk at one of our upcoming meetups